---
import Title from "./Title";
---

<section>
  <Title
    title="全网客户的真实声音"
    desc="致力服务每一个客户，成交只是服务的开始，我们希望您可以一直使用我们的最新产品，当然不管是什么产品！"
    client:only="react"
  />
  <!-- Container -->
  <div class="mx-auto w-full max-w-7xl px-5 py-8 md:px-10 md:py-4 lg:py-8">
    <!-- Testimonial List -->
    <ul class="mb-6 grid gap-5 sm:grid-cols-2 md:mb-16 md:grid-cols-3">
      <li
        class="grid gap-8 border border-solid border-[#dfdfdf] bg-white p-8 md:p-10"
      >
        <div class="flex">
          <img
            src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6357722e2a5f195bcf37f880_Vector.svg"
            alt=""
            class="mr-1.5 w-4"
          />
          <img
            src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6357722e2a5f195bcf37f880_Vector.svg"
            alt=""
            class="mr-1.5 w-4"
          />
          <img
            src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6357722e2a5f195bcf37f880_Vector.svg"
            alt=""
            class="mr-1.5 w-4"
          />
          <img
            src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6357722e2a5f195bcf37f880_Vector.svg"
            alt=""
            class="mr-1.5 w-4"
          />
          <img
            src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6357722e2a5f195bcf37f880_Vector.svg"
            alt=""
            class="mr-1.5 w-4"
          />
        </div>
        <p class="text-[#647084]">
          我从上学的时候也就17年买的卡，之后一直在使用他们家的产品，经常给我身边的朋友推荐[流客科技]。
          从上学到上班, 这便是最深情的告白"
        </p>
        <div class="flex">
          <img
            src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6358cb67bf1bca198e298c35_Ellipse%205-2.png"
            alt=""
            class="mr-4 h-16 w-16"
          />
          <div class="flex flex-col">
            <h6 class="font-bold">Laila Bahar</h6>
            <p class="text-sm text-[#636262]">Designer</p>
          </div>
        </div>
      </li>
      <li
        class="grid gap-8 border border-solid border-[#dfdfdf] bg-white p-8 md:p-10"
      >
        <div class="flex">
          <img
            src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6357722e2a5f195bcf37f880_Vector.svg"
            alt=""
            class="mr-1.5 w-4"
          />
          <img
            src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6357722e2a5f195bcf37f880_Vector.svg"
            alt=""
            class="mr-1.5 w-4"
          />
          <img
            src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6357722e2a5f195bcf37f880_Vector.svg"
            alt=""
            class="mr-1.5 w-4"
          />
          <img
            src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6357722e2a5f195bcf37f880_Vector.svg"
            alt=""
            class="mr-1.5 w-4"
          />
          <img
            src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6357722e2a5f195bcf37f880_Vector.svg"
            alt=""
            class="mr-1.5 w-4"
          />
        </div>
        <p class="text-[#647084]">
          售后服务很好，有问题积极处理，而且卡的网速也是快的飞起，如果网速不行，可以找客户给你调换，使用起来完全无顾虑
        </p>
        <div class="flex">
          <img
            src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6358cb5e3ea08ab4c244194a_Ellipse%205-4.png"
            alt=""
            class="mr-4 h-16 w-16"
          />
          <div class="flex flex-col">
            <h6 class="font-bold">Laila Bahar</h6>
            <p class="text-sm text-[#636262]">Designer</p>
          </div>
        </div>
      </li>
      <li
        class="grid gap-8 border border-solid border-[#dfdfdf] bg-white p-8 md:p-10"
      >
        <div class="flex">
          <img
            src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6357722e2a5f195bcf37f880_Vector.svg"
            alt=""
            class="mr-1.5 w-4"
          />
          <img
            src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6357722e2a5f195bcf37f880_Vector.svg"
            alt=""
            class="mr-1.5 w-4"
          />
          <img
            src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6357722e2a5f195bcf37f880_Vector.svg"
            alt=""
            class="mr-1.5 w-4"
          />
          <img
            src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6357722e2a5f195bcf37f880_Vector.svg"
            alt=""
            class="mr-1.5 w-4"
          />
          <img
            src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6357722e2a5f195bcf37f880_Vector.svg"
            alt=""
            class="mr-1.5 w-4"
          />
        </div>
        <p class="text-[#647084]">
          不是宝藏，胜似宝藏，能找到一个长期更新各种卡，而且不跑路的老板太难了，我已经用户有4年了，希望老板越来越强，生意越来越好
        </p>
        <div class="flex">
          <img
            src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6358cb614a296368b383467c_Ellipse%205-3.png"
            alt=""
            class="mr-4 h-16 w-16"
          />
          <div class="flex flex-col">
            <h6 class="text-base font-bold">Laila Bahar</h6>
            <p class="text-sm text-[#636262]">Designer</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
