---
import { Image } from "astro:assets";
import ai from "../../image/index/ai.svg";
import use from "../../image/index/use.svg";
---

<section>
    <!-- Hero top -->
    <div class="bg-[#e9e9ec] grid p-20 lg:flex lg:px-60 ">
        <!-- Container -->
        <Image src={ai} alt="" class="mt-10 w-[100%] md:w-[33%]" client:idle width={100} height={30} />
        <div class="h-[60vh] pt-32 md:px-10  md:m-32">
            <!-- Title -->
            <h1
                class="mb-6 text-5xl font-bold w-[110%] md:text-6xl lg:mb-10"
            >
                万物互联 畅想未来
            </h1>
            <!-- Buttons -->
            <div class="flex items-stretch">
                <a
                    href="http://tc.liuketh.cn"
                    class="mr-6 rounded-md bg-black px-8 py-4 text-center font-semibold text-white lg:mr-8"
                >
                    免费领卡</a
                >
                <a
                    href="https://work.weixin.qq.com/gm/2f7011219a43a467a4e178a259797647"
                    class="mr-6 rounded-md bg-blue-700 px-8 py-4 text-center font-semibold text-white lg:mr-8"
                >
                    <p>🗨️ 联系我们</p>
                </a>
            </div>
        </div>
    </div>
    <!-- Hero bottom -->
    <section class="mx-auto max-w-7xl px-10 py-12 md:px-10 md:py-16 lg:py-20">
        <div class="relative flex flex-col gap-6 lg:flex-row lg:justify-between">
          <article class="max-w-xl p-10">
            <!-- 使用article标签可以提升SEO的语义化 -->
            <h3 class="text-2xl font-bold md:text-3xl">介绍</h3>
            <!-- 使用更适合的标签替换div，增强语义化 -->
            <hr class="my-6 border-t-2 border-black w-1/3" />
            <!-- 优化段落字符 -->
            <p class="text-xl text-gray-600">
              提供IOT全面服务，覆盖通信、物联网和流量卡领域。我们提供手机卡办理、靓号定制服务（如155555、1555522、1555533和1314520），全国手机话费九折充值，内部优惠套餐卡办理。此外，我们还提供随身WiFi、5G路由器云路由和智能监控等物联网服务。
            </p>
          </article>
          <figure class="mt-12 ml-auto lg:ml-0 lg:absolute lg:right-0 lg:bottom-0 lg:h-auto lg:max-w-sm">
            <Image
              src={use}
              width={480} 
              height={480} 
              alt="流量卡"
              class="w-full h-auto"
            />
          </figure>
        </div>
      </section>
      
</section>