---
import { AllApplication } from "@icon-park/react";
---

<section class="w-full py-12 bg-gray-50">
  <div class="container mx-auto px-4">
    <h2 class="text-2xl font-bold text-center mb-8">合作企业</h2>
    <div class="flex justify-center items-center space-x-12">
      <AllApplication theme="multi-color" size="47" fill={['#333' ,'#2F88FF' ,'#FFF' ,'#43CCF8']} strokeWidth={1}/>
      <AllApplication theme="multi-color" size="47" fill={['#333' ,'#2F88FF' ,'#FFF' ,'#43CCF8']} strokeWidth={1}/>
      <AllApplication theme="multi-color" size="47" fill={['#333' ,'#2F88FF' ,'#FFF' ,'#43CCF8']} strokeWidth={1}/>
      <AllApplication theme="multi-color" size="47" fill={['#333' ,'#2F88FF' ,'#FFF' ,'#43CCF8']} strokeWidth={1}/>
      <AllApplication theme="multi-color" size="47" fill={['#333' ,'#2F88FF' ,'#FFF' ,'#43CCF8']} strokeWidth={1}/>
      <AllApplication theme="multi-color" size="47" fill={['#333' ,'#2F88FF' ,'#FFF' ,'#43CCF8']} strokeWidth={1}/>
    </div>
  </div>
</section> 