---
import Title from "./Title";
---

<section class="my-20">
  <!-- Container -->
  <Title
    title="我们产生的真实数据"
    desc="致力服务每一个客户，成交只是服务的开始，我们希望您可以一直使用我们的最新产品，当然不管是什么产品！"
    client:only="react"
  />
  <div class="mx-auto w-full max-w-7xl px-5 my-3 md:px-10 md:py-2">
    <!-- Content -->
    <div
      class="mx-auto flex w-full max-w-6xl flex-col flex-wrap justify-between gap-11 px-10 sm:flex-row md:gap-6"
    >
      <div class="flex flex-col items-center justify-center gap-8">
        <p class="text-sm">产品数</p>
        <h2 class="text-3xl font-bold md:text-6xl">20+</h2>
      </div>
      <div class="flex flex-col items-center justify-center gap-8">
        <p class="text-sm">服务售后</p>
        <h2 class="text-3xl font-bold md:text-6xl">890+</h2>
      </div>
      <div class="flex flex-col items-center justify-center gap-8">
        <p class="text-sm">用户</p>
        <h2 class="text-3xl font-bold md:text-6xl">3500+</h2>
      </div>
      <div class="flex flex-col items-center justify-center gap-8">
        <p class="text-sm">覆盖面</p>
        <h2 class="text-3xl font-bold md:text-6xl">全网</h2>
      </div>
    </div>
  </div>
</section>
