---
import Layout from "../../layouts/HomeLayout.astro";

const allPosts = await Astro.glob("./*.md");
---

<Layout>
    {allPosts.map((item) => <a href={item.url}>{item.frontmatter.title}</a>)}
</Layout>
