---
import { getCollection } from "astro:content";
import Layout from "../../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import wifi from "../../image/product/wifi.webp";
import cloudwifi from "../../image/product/cloudwifi2.webp";
import BlogList from "../../components/BlogList.astro";
import type { GetStaticPathsOptions } from "astro";

const type = [
  {
    url: wifi,
    alt: "随身wifi",
  },
  {
    url: cloudwifi,
    alt: "云路由",
  },
];


export async function getStaticPaths({ paginate }: GetStaticPathsOptions) { 
  const wifi = await getCollection("wifi");
  return paginate(wifi, { pageSize: 5 });
 }

 const wifis = await getCollection("wifi");
 const { page } = Astro.props;
---
<Layout pageTitle="随身wifi" desc="随身wifi、云路由、智能设备，让你告别没网络、网速慢的问题">
  <div class="hidden md:flex gap-5 mx-5 m-10">
    {
      type.map((item) => (
        <Image
          src={item.url}
          alt={item.alt}
          width="300"
          height="150"
          class="rounded-xl"
        />
      ))
    }
  </div>
  <!-- //client:load  -->
  <div>
    <BlogList list={wifis} path="/wifi" page={page}  />
  </div>
</Layout>
