---
import { Image } from "astro:assets";
import Layout from "../../layouts/BaseLayout.astro";
import wifi from '../../image/product/wifi.webp'
import cloudwifi1 from '../../image/product/cloudwifi1.webp'
import cloudwifi2 from '../../image/product/cloudwifi2.webp'
import { getCollection } from "astro:content";
import BlogList from "../../components/BlogList.astro";

const hotcard = await getCollection("hotcard");
---

<Layout pageTitle="随身WiFi" >
    <div class="flex gap-2 flex-wrap p-10">
        <Image src={wifi} width={300} height={150} alt="随身Wifi"/>
        <Image src={cloudwifi1} width={300} height={150} alt="随身Wifi"/>
        <Image src={cloudwifi2} width={300} height={150} alt="随身Wifi"/>
    </div>
    <BlogList list={hotcard} path="/wifi"/>
    
</Layout>
