---
import { getCollection } from "astro:content";
import Layout from "../../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import yd from "../../image/product/dragon.jpg";
import lt from "../../image/product/flowcard.jpg";
import dx from "../../image/product/dragon.jpg";
import gd from "../../image/product/gd.jpg";
import BlogList from "../../components/BlogList.astro";

const hotcard = await getCollection("hotcard");
const type = [
    {
        url: yd,
        alt: "中国移动流量卡",
    },
    {
        url: lt,
        alt: "中国联通流量卡",
    },
    {
        url: dx,
        alt: "中国电信流量卡",
    },
    {
        url: gd,
        alt: "中国广电流量卡",
    },
];
---

<Layout pageTitle="流量卡">
    <div class="hidden md:flex gap-5 mx-5 mt-10">
        {
            type.map((item) => (
                <Image
                    src={item.url}
                    alt={item.alt}
                    width="300"
                    height="150"
                    class="rounded-xl"
                />
            ))
        }
    </div>
    <!-- //client:load  -->
   <BlogList list={hotcard} path="/flowcard"/>
</Layout>
