---
import Layout from "../../layouts/HomeLayout.astro";
const allPosts: any = await Astro.glob("../../content/*/*.*");
const tags = [
    ...new Set(allPosts.map((post: any) => post.frontmatter.tags).flat()),
];
const pageTitle = "Tag Index";
---

<div class="flex flex-wrap gap-3 rounded-3xl text-sm" >
    {
        tags.map((tag) => (
            <p class="bg-sky-300 p-1 rounded-xl">
                <a href={`/tags/${tag}`} target="_blank">{tag}</a>
            </p>
        ))
    }
</div>
