---
import Card from "../components/Card.astro";
import Layout from "../layouts/HomeLayout.astro";
---

<Layout>
	<main>
		<section>
			<!-- Hero top -->
			<div class="bg-[#f2f2f7]">
			  <!-- Container -->
			  <div class="mx-auto max-w-7xl px-5 py-16 md:px-10 md:py-24 lg:py-32">
				<!-- Title -->
				<h1 class="mb-6 max-w-3xl text-4xl font-bold md:mb-10 md:text-6xl lg:mb-12">The Website You Want Without The Dev Time.</h1>
				<!-- Buttons -->
				<div class="flex items-stretch">
				  <a href="#" class="mr-6 rounded-md bg-black px-8 py-4 text-center font-semibold text-white lg:mr-8"> Get Started</a>
				  <a href="#" class="flex items-center justify-center rounded-md border border-solid border-black bg-white px-6 py-3 font-bold">
					<img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a94d411e6cf99_Vector%20(6).svg" alt="" class="mr-2 max-h-4 w-5" />
					<p>Download App</p>
				  </a>
				</div>
			  </div>
			</div>
			<!-- Hero bottom -->
			<div class="mx-auto max-w-7xl px-5 py-12 md:px-10 md:py-16 lg:py-20">
			  <!-- Component -->
			  <div class="relative flex max-w-7xl flex-col gap-4 lg:flex-row lg:justify-start">
				<div class="max-w-xl p-10">
				  <!-- Title -->
				  <h3 class="text-2xl font-bold md:text-3xl">Introduction</h3>
				  <!-- Divider -->
				  <div class="my-6 w-1/3 [border-top:2px_solid_rgb(0,_0,_0)]"></div>
				  <p class="text-sm text-[#636262]">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
				</div>
				<!-- Image -->
				<img src="https://content-assets.sxlcdn.com/res/hrscywv4p/image/upload/c_limit,f_auto,fl_lossy,w_20,q_auto/blog_service/2020-12-17-201217lunbotu.jpg" alt="" class="relative bottom-0 right-0 m-6 mt-12 w-[480px] object-cover lg:absolute lg:mt-0 lg:h-[480px] lg:p-10" />
			  </div>
			</div>
		  </section>
		  
		  <section>
			<!-- Container -->
			<div class="mx-auto max-w-7xl px-5 py-10 md:px-10 md:py-10">
			  <!-- Heading Container -->
			  <div class="mx-auto mb-8 max-w-3xl text-center md:mb-12">
				<!-- Heading -->
				<h2 class="text-3xl font-bold md:text-5xl">Simple &amp; Fixed Pricing</h2>
				<!-- Subheading -->
				<p class="mt-4 text-sm text-[#636262] sm:text-base">Simple &amp; fixed pricing. 30 days money-back guarantee</p>
			  </div>
			  <!-- Prices -->
			  <div class="grid grid-cols-1 gap-16 sm:grid-cols-2 md:grid-cols-3 md:gap-4">
				<!-- Price 1 -->
				<div class="mx-auto w-full max-w-md border-solid border-2 shadow-lg">
				  <!-- Price 1 Card -->
		  
				  <div class="relative rounded-md  p-10">
					<img src="https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/iphone-15-pro-model-unselect-gallery-1-202309?wid=2560&hei=1440&fmt=p-jpg&qlt=80&.v=1693010533609" class="absolute inset-0 h-60 opacity-0 transition duration-500 hover:opacity-100" />
					<div class="mb-4 w-fit rounded-[4px] bg-black px-4 py-1.5">
					  <p class="text-sm font-bold text-white">Free Plan</p>
					</div>
					<h2 class="mb-5 text-3xl font-bold md:mb-6 md:text-5xl lg:mb-8">¥9.9<span class="text-sm font-light">/永久</span></h2>
					<p class="text-body mb-5 font-light text-[#636262] md:mb-6 lg:mb-8">Lorem ipsum dolor sit amet consectetur adipiscing elit ut aliquam, purus sit</p>
					<a href="#" class="inline-block w-full rounded-md bg-slate-300 px-6 py-3 text-center font-semibold text-white">Get started</a>
				  </div>
				  <!-- Price 1 Descriptions -->
				  <div class="p-5 space-y-4">
					<div class="flex flex-row">
					  <div class="mr-3 flex">
						<svg xmlns="http://www.w3.org/2000/svg" width="22" height="32" viewBox="0 0 24 8">
						  <path d="M0 12.116l2.053-1.897c2.401 1.162 3.924 2.045 6.622 3.969 5.073-5.757 8.426-8.678 14.657-12.555l.668 1.536c-5.139 4.484-8.902 9.479-14.321 19.198-3.343-3.936-5.574-6.446-9.679-10.251z" />
						</svg>
					  </div>
					  <p class="text-body text-[#636262]"><span class="font-bold text-black">Premium Component </span> Lorem ipsum dolor sit amet consecteur adipiscing.</p>
					</div>
					<div class="flex flex-row">
					  <div class="mr-3 flex">
						<svg xmlns="http://www.w3.org/2000/svg" width="22" height="32" viewBox="0 0 24 8">
						  <path d="M0 12.116l2.053-1.897c2.401 1.162 3.924 2.045 6.622 3.969 5.073-5.757 8.426-8.678 14.657-12.555l.668 1.536c-5.139 4.484-8.902 9.479-14.321 19.198-3.343-3.936-5.574-6.446-9.679-10.251z" />
						</svg>
					  </div>
					  <p class="text-body text-[#636262]"><span class="font-bold text-black">Exclusive Freebies</span> Lorem ipsum dolor sit amet consecteur adipiscing.</p>
					</div>
					<div class="flex flex-row">
					  <div class="mr-3 flex">
						<svg xmlns="http://www.w3.org/2000/svg" width="22" height="32" viewBox="0 0 24 8">
						  <path d="M0 12.116l2.053-1.897c2.401 1.162 3.924 2.045 6.622 3.969 5.073-5.757 8.426-8.678 14.657-12.555l.668 1.536c-5.139 4.484-8.902 9.479-14.321 19.198-3.343-3.936-5.574-6.446-9.679-10.251z" />
						</svg>
					  </div>
					  <p class="text-body text-[#636262]"><span class="font-bold text-black">Monthly Free Exclusive</span> Lorem ipsum dolor sit amet consecteur adipiscing.</p>
					</div>
					<div class="flex flex-row">
					  <div class="mr-3 flex">
						<svg xmlns="http://www.w3.org/2000/svg" width="22" height="32" viewBox="0 0 24 8">
						  <path d="M0 12.116l2.053-1.897c2.401 1.162 3.924 2.045 6.622 3.969 5.073-5.757 8.426-8.678 14.657-12.555l.668 1.536c-5.139 4.484-8.902 9.479-14.321 19.198-3.343-3.936-5.574-6.446-9.679-10.251z" />
						</svg>
					  </div>
					  <p class="text-body text-[#636262]"><span class="font-bold text-black">Customer Support</span> Lorem ipsum dolor sit amet consecteur adipiscing.</p>
					</div>
				  </div>
				</div>
				<!-- Price 2 -->
				<div class="mx-auto w-full max-w-md border-solid border-2">
				  <!-- Price 2 Card -->
				  <div class="overflow-hidden rounded-md bg-[#f2f2f7] p-10 sm:w-full sm:flex-initial">
					<div class="mb-4 flex flex-row gap-4 max-[991px]:flex-wrap">
					  <div class="rounded-[4px] bg-[#1e1e1e] px-4 py-1.5">
						<p class="text-sm font-bold text-white">Growth</p>
					  </div>
					  <div class="flex items-center gap-1.5 rounded-[4px] bg-white px-4 py-1.5">
						<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
						  <path d="M21 22h-18v-4h18v4zm-2.266-12.906c-3.749 2.293-5.296-2.125-6.734-7.094-1.433 4.951-2.984 9.388-6.734 7.094-1.305-.798-5.266-4.094-5.266-4.094 1.796 3.797 2.75 6.292 3 11h18c.25-4.708 1.203-7.203 3-11 0 0-3.961 3.296-5.266 4.094z" />
						</svg>
						<p class="text-sm font-bold text-black sm:text-sm">Popular</p>
					  </div>
					</div>
					<h2 class="mb-5 text-3xl font-bold md:mb-6 md:text-5xl lg:mb-8">¥149<span class="text-sm font-light">/year</span></h2>
					<p class="text-body mb-5 font-light text-[#636262] md:mb-6 lg:mb-8">Lorem ipsum dolor sit amet consectetur adipiscing elit ut aliquam, purus sit</p>
					<a href="#" class="inline-block w-full rounded-md bg-slate-500 px-6 py-3 text-center font-semibold text-white">Get started</a>
				  </div>
				  <!-- Price 2 Descriptions -->
				  <div class="p-5 space-y-4">
					<div class="flex flex-row">
					  <div class="mr-3 flex">
						<svg xmlns="http://www.w3.org/2000/svg" width="22" height="32" viewBox="0 0 24 8">
						  <path d="M0 12.116l2.053-1.897c2.401 1.162 3.924 2.045 6.622 3.969 5.073-5.757 8.426-8.678 14.657-12.555l.668 1.536c-5.139 4.484-8.902 9.479-14.321 19.198-3.343-3.936-5.574-6.446-9.679-10.251z" />
						</svg>
					  </div>
					  <p class="text-body text-[#636262]"><span class="font-bold text-black">Premium Component </span> Lorem ipsum dolor sit amet consecteur adipiscing.</p>
					</div>
					<div class="flex flex-row">
					  <div class="mr-3 flex">
						<svg xmlns="http://www.w3.org/2000/svg" width="22" height="32" viewBox="0 0 24 8">
						  <path d="M0 12.116l2.053-1.897c2.401 1.162 3.924 2.045 6.622 3.969 5.073-5.757 8.426-8.678 14.657-12.555l.668 1.536c-5.139 4.484-8.902 9.479-14.321 19.198-3.343-3.936-5.574-6.446-9.679-10.251z" />
						</svg>
					  </div>
					  <p class="text-body text-[#636262]"><span class="font-bold text-black">Exclusive Freebies</span> Lorem ipsum dolor sit amet consecteur adipiscing.</p>
					</div>
					<div class="flex flex-row">
					  <div class="mr-3 flex">
						<svg xmlns="http://www.w3.org/2000/svg" width="22" height="32" viewBox="0 0 24 8">
						  <path d="M0 12.116l2.053-1.897c2.401 1.162 3.924 2.045 6.622 3.969 5.073-5.757 8.426-8.678 14.657-12.555l.668 1.536c-5.139 4.484-8.902 9.479-14.321 19.198-3.343-3.936-5.574-6.446-9.679-10.251z" />
						</svg>
					  </div>
					  <p class="text-body text-[#636262]"><span class="font-bold text-black">Monthly Free Exclusive</span> Lorem ipsum dolor sit amet consecteur adipiscing.</p>
					</div>
					<div class="flex flex-row">
					  <div class="mr-3 flex">
						<svg xmlns="http://www.w3.org/2000/svg" width="22" height="32" viewBox="0 0 24 8">
						  <path d="M0 12.116l2.053-1.897c2.401 1.162 3.924 2.045 6.622 3.969 5.073-5.757 8.426-8.678 14.657-12.555l.668 1.536c-5.139 4.484-8.902 9.479-14.321 19.198-3.343-3.936-5.574-6.446-9.679-10.251z" />
						</svg>
					  </div>
					  <p class="text-body text-[#636262]"><span class="font-bold text-black">Customer Support</span> Lorem ipsum dolor sit amet consecteur adipiscing.</p>
					</div>
				  </div>
				</div>
				<!-- Price 3 -->
				<div class="mx-auto w-full max-w-md border-solid border-2">
				  <!-- Price 3 Card -->
				  <div class="rounded-md p-10">
					<div class="mb-4 w-fit rounded-[4px] bg-black px-4 py-1.5">
					  <p class="text-sm font-bold text-white">Accelerate</p>
					</div>
					<h2 class="mb-5 text-3xl font-bold md:mb-6 md:text-5xl lg:mb-8">¥249<span class="text-sm font-light">/year</span></h2>
					<p class="text-body mb-5 font-light text-[#636262] md:mb-6 lg:mb-8">Lorem ipsum dolor sit amet consectetur adipiscing elit ut aliquam, purus sit</p>
					<a href="#" class="inline-block w-full rounded-md bg-slate-300 px-6 py-3 text-center font-semibold text-white">Get started</a>
				  </div>
				  <!-- Price 3 Descriptions -->
				  <div class="p-5 space-y-4">
					<div class="flex flex-row">
					  <div class="mr-3 flex">
						<svg xmlns="http://www.w3.org/2000/svg" width="22" height="32" viewBox="0 0 24 8">
						  <path d="M0 12.116l2.053-1.897c2.401 1.162 3.924 2.045 6.622 3.969 5.073-5.757 8.426-8.678 14.657-12.555l.668 1.536c-5.139 4.484-8.902 9.479-14.321 19.198-3.343-3.936-5.574-6.446-9.679-10.251z" />
						</svg>
					  </div>
					  <p class="text-body text-[#636262]"><span class="font-bold text-black">Premium Component </span> Lorem ipsum dolor sit amet consecteur adipiscing.</p>
					</div>
					<div class="flex flex-row">
					  <div class="mr-3 flex">
						<svg xmlns="http://www.w3.org/2000/svg" width="22" height="32" viewBox="0 0 24 8">
						  <path d="M0 12.116l2.053-1.897c2.401 1.162 3.924 2.045 6.622 3.969 5.073-5.757 8.426-8.678 14.657-12.555l.668 1.536c-5.139 4.484-8.902 9.479-14.321 19.198-3.343-3.936-5.574-6.446-9.679-10.251z" />
						</svg>
					  </div>
					  <p class="text-body text-[#636262]"><span class="font-bold text-black">Exclusive Freebies</span> Lorem ipsum dolor sit amet consecteur adipiscing.</p>
					</div>
					<div class="flex flex-row">
					  <div class="mr-3 flex">
						<svg xmlns="http://www.w3.org/2000/svg" width="22" height="32" viewBox="0 0 24 8">
						  <path d="M0 12.116l2.053-1.897c2.401 1.162 3.924 2.045 6.622 3.969 5.073-5.757 8.426-8.678 14.657-12.555l.668 1.536c-5.139 4.484-8.902 9.479-14.321 19.198-3.343-3.936-5.574-6.446-9.679-10.251z" />
						</svg>
					  </div>
					  <p class="text-body text-[#636262]"><span class="font-bold text-black">Monthly Free Exclusive</span> Lorem ipsum dolor sit amet consecteur adipiscing.</p>
					</div>
					<div class="flex flex-row">
					  <div class="mr-3 flex">
						<svg xmlns="http://www.w3.org/2000/svg" width="22" height="32" viewBox="0 0 24 8">
						  <path d="M0 12.116l2.053-1.897c2.401 1.162 3.924 2.045 6.622 3.969 5.073-5.757 8.426-8.678 14.657-12.555l.668 1.536c-5.139 4.484-8.902 9.479-14.321 19.198-3.343-3.936-5.574-6.446-9.679-10.251z" />
						</svg>
					  </div>
					  <p class="text-body text-[#636262]"><span class="font-bold text-black">Customer Support</span> Lorem ipsum dolor sit amet consecteur adipiscing.</p>
					</div>
				  </div>
				</div>
			  </div>
			</div>
		  </section>
		  
		  <section>
			<!-- Container -->
			<div class="mx-auto w-full max-w-7xl px-5 md:px-10 md:py-2">
			  <!-- Title -->
			  <h2 class="text-center text-3xl font-bold md:text-5xl">Backed up by real data</h2>
			  <p class="mx-auto mb-8 mt-4 max-w-lg items-center text-center text-sm text-[#636262] sm:text-base md:mb-12 lg:mb-16">Lorem ipsum dolor sit amet consectetur adipiscing elit ut aliquam,purus sit amet luctus magna fringilla urna</p>
			  <!-- Content -->
			  <div class="mx-auto flex w-full max-w-4xl flex-col flex-wrap justify-between gap-5 px-16 py-10 sm:flex-row md:gap-6">
				<div class="flex flex-col items-center justify-center gap-4">
				  <p class="text-sm">Blocks</p>
				  <h2 class="text-3xl font-bold md:text-6xl">200+</h2>
				</div>
				<div class="flex flex-col items-center justify-center gap-4">
				  <p class="text-sm">Templates</p>
				  <h2 class="text-3xl font-bold md:text-6xl">45</h2>
				</div>
				<div class="flex flex-col items-center justify-center gap-4">
				  <p class="text-sm">Customers</p>
				  <h2 class="text-3xl font-bold md:text-6xl">1500+</h2>
				</div>
				<div class="flex flex-col items-center justify-center gap-4">
				  <p class="text-sm">Support Tickets</p>
				  <h2 class="text-3xl font-bold md:text-6xl">890</h2>
				</div>
			  </div>
			</div>
		  </section>
		  
		  <!-- Section Testimonial -->
		  <section class="bg-[#f2f2f7]">
			<!-- Container -->
			<div class="mx-auto w-full max-w-7xl px-5 py-8 md:px-10 md:py-4 lg:py-8">
			  <!-- Title -->
			  <h2 class="mb-8 text-center text-3xl font-bold md:mb-14 md:text-5xl">What our clients are saying</h2>
			  <!-- Testimonial List -->
			  <ul class="mb-6 grid gap-5 sm:grid-cols-2 md:mb-16 md:grid-cols-3">
				<li class="grid gap-8 border border-solid border-[#dfdfdf] bg-white p-8 md:p-10">
				  <div class="flex">
					<img src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6357722e2a5f195bcf37f880_Vector.svg" alt="" class="mr-1.5 w-4" />
					<img src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6357722e2a5f195bcf37f880_Vector.svg" alt="" class="mr-1.5 w-4" />
					<img src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6357722e2a5f195bcf37f880_Vector.svg" alt="" class="mr-1.5 w-4" />
					<img src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6357722e2a5f195bcf37f880_Vector.svg" alt="" class="mr-1.5 w-4" />
					<img src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6357722e2a5f195bcf37f880_Vector.svg" alt="" class="mr-1.5 w-4" />
				  </div>
				  <p class="text-[#647084]">“Lorem ipsum dolor sit amet, &nbsp;elit ut aliquam, purus sit amet luctus venenatis elit ut aliquam, purus sit amet luctus venenatis"</p>
				  <div class="flex">
					<img src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6358cb67bf1bca198e298c35_Ellipse%205-2.png" alt="" class="mr-4 h-16 w-16" />
					<div class="flex flex-col">
					  <h6 class="font-bold">Laila Bahar</h6>
					  <p class="text-sm text-[#636262]">Designer</p>
					</div>
				  </div>
				</li>
				<li class="grid gap-8 border border-solid border-[#dfdfdf] bg-white p-8 md:p-10">
				  <div class="flex">
					<img src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6357722e2a5f195bcf37f880_Vector.svg" alt="" class="mr-1.5 w-4" />
					<img src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6357722e2a5f195bcf37f880_Vector.svg" alt="" class="mr-1.5 w-4" />
					<img src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6357722e2a5f195bcf37f880_Vector.svg" alt="" class="mr-1.5 w-4" />
					<img src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6357722e2a5f195bcf37f880_Vector.svg" alt="" class="mr-1.5 w-4" />
					<img src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6357722e2a5f195bcf37f880_Vector.svg" alt="" class="mr-1.5 w-4" />
				  </div>
				  <p class="text-[#647084]">“Lorem ipsum dolor sit amet, &nbsp;elit ut aliquam, purus sit amet luctus venenatis elit ut aliquam, purus sit amet luctus venenatis"</p>
				  <div class="flex">
					<img src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6358cb5e3ea08ab4c244194a_Ellipse%205-4.png" alt="" class="mr-4 h-16 w-16" />
					<div class="flex flex-col">
					  <h6 class="font-bold">Laila Bahar</h6>
					  <p class="text-sm text-[#636262]">Designer</p>
					</div>
				  </div>
				</li>
				<li class="grid gap-8 border border-solid border-[#dfdfdf] bg-white p-8 md:p-10">
				  <div class="flex">
					<img src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6357722e2a5f195bcf37f880_Vector.svg" alt="" class="mr-1.5 w-4" />
					<img src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6357722e2a5f195bcf37f880_Vector.svg" alt="" class="mr-1.5 w-4" />
					<img src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6357722e2a5f195bcf37f880_Vector.svg" alt="" class="mr-1.5 w-4" />
					<img src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6357722e2a5f195bcf37f880_Vector.svg" alt="" class="mr-1.5 w-4" />
					<img src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6357722e2a5f195bcf37f880_Vector.svg" alt="" class="mr-1.5 w-4" />
				  </div>
				  <p class="text-[#647084]">“Lorem ipsum dolor sit amet, &nbsp;elit ut aliquam, purus sit amet luctus venenatis elit ut aliquam, purus sit amet luctus venenatis"</p>
				  <div class="flex">
					<img src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6358cb614a296368b383467c_Ellipse%205-3.png" alt="" class="mr-4 h-16 w-16" />
					<div class="flex flex-col">
					  <h6 class="text-base font-bold">Laila Bahar</h6>
					  <p class="text-sm text-[#636262]">Designer</p>
					</div>
				  </div>
				</li>
			  </ul>
			</div>
		  </section>
				  
	</main>
</Layout>

