---
import Layout from "../layouts/HomeLayout.astro";
import HomeMain from '../components/Landing/HomeMain.astro'
import Evaluate from '../components/Landing/Evaluate.astro'
import Price from '../components/Landing/Price.astro'
import QA from '../components/Landing/QA'
import Service from '../components/Landing/Service.astro'
import Cooperate from "../components/Landing/Cooperate";
import Product from '../components/Landing/Play'
import Feature from "../components/Landing/Feature.astro";
---

<Layout>
	<main>
		<HomeMain />
		<Feature />
		<Product client:only="react" home={true}/>
		<Price />
		<Service />
		<Evaluate/>
		<QA client:only="react"/>
		<Cooperate client:only="react"/>
	</main>
</Layout>../components/Landing/Play