---
import { Image } from "astro:assets";
import Card from "../components/Card.astro";
import Layout from "../layouts/HomeLayout.astro";
import flowcard from "../image/index/flowcard.jpg";
---

<Layout>
	<main>
		<section>
			<!-- Hero top -->
			<div class="bg-[#f2f2f7]">
				<!-- Container -->
				<div
					class="mx-auto max-w-7xl px-5 py-16 md:px-10 md:py-24 lg:py-32"
				>
					<!-- Title -->
					<h1
						class="mb-6 max-w-3xl text-4xl font-bold md:mb-10 md:text-6xl lg:mb-12"
					>
						万物互联 畅想未来
					</h1>
					<!-- Buttons -->
					<div class="flex items-stretch">
						<a
							href="http://tc.liuketh.cn"
							class="mr-6 rounded-md bg-black px-8 py-4 text-center font-semibold text-white lg:mr-8"
						>
							免费领卡</a
						>
						<a
							href="https://work.weixin.qq.com/gm/2f7011219a43a467a4e178a259797647"
							class="flex items-center justify-center rounded-md border border-solid border-black bg-white px-6 py-3 font-bold"
						>
							<p>🗨️ 联系我们</p>
						</a>
					</div>
				</div>
			</div>
			<!-- Hero bottom -->
			<div
				class="mx-auto max-w-7xl px-5 py-12 md:px-10 md:py-16 lg:py-20"
			>
				<!-- Component -->
				<div
					class="relative flex max-w-7xl flex-col gap-4 lg:flex-row lg:justify-start"
				>
					<div class="max-w-xl p-10">
						<!-- Title -->
						<h3 class="text-2xl font-bold md:text-3xl">介绍</h3>
						<!-- Divider -->
						<div
							class="my-6 w-1/3 [border-top:2px_solid_rgb(0,_0,_0)]"
						>
						</div>
						<p class="text-xl text-[#636262]">
							提供IOT全面服务，包括通信领域，物联网领域，流量卡领域，可进行手机卡办理，靓号办理，155555、1555522、1555533、1314520定制靓号办理，全国手机话费9折充值，内部优惠套餐卡办理!
							随身wifi，5G路由器云路由，智能监控等物联网服务!
						</p>
					</div>
					<!-- Image -->
					<img
						src="https://content-assets.sxlcdn.com/res/hrscywv4p/image/upload/c_limit,f_auto,fl_lossy,w_20,q_auto/blog_service/2020-12-17-201217lunbotu.jpg"
						alt=""
						class="relative bottom-0 right-0 m-6 mt-12 w-[480px] object-cover lg:absolute lg:mt-0 lg:h-[480px] lg:p-10"
					/>
				</div>
			</div>
		</section>

		<section>
			<h2 class="text-center text-3xl font-bold py-5 md:text-5xl">
				合作青睐伙伴
			</h2>
			<div class="flex">
				<Image src="https://upload.wikimedia.org/wikipedia/commons/1/1b/UnionPay_logo.svg" width={200} height={100} alt="银联聚合支付" />
				<Image src="https://upload.wikimedia.org/wikipedia/en/c/c7/Alipay_logo_%282020%29.svg" width={200} height={100} alt="支付宝支付" />
				<Image src="https://upload.wikimedia.org/wikipedia/en/c/c7/Alipay_logo_%282020%29.svg" width={200} height={100} alt="支付宝支付" />
				<Image src="https://upload.wikimedia.org/wikipedia/en/c/c7/Alipay_logo_%282020%29.svg" width={200} height={100} alt="支付宝支付" />
				<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 48 48">
					<linearGradient id="Pc7gKrZO_wAWI2QBTIN8Ka_iY9a3migtW0L_gr1" x1="2.234" x2="13.54" y1="24" y2="24" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#f44f5a"></stop><stop offset=".443" stop-color="#ee3d4a"></stop><stop offset="1" stop-color="#e52030"></stop></linearGradient><path fill="url(#Pc7gKrZO_wAWI2QBTIN8Ka_iY9a3migtW0L_gr1)" d="M10,9h11.585c1.617,0,2.623,1.362,2.246,3.039l-5.394,23.927 c-0.381,1.671-2,3.034-3.618,3.034H3.235c-1.369-0.001-2.302-0.98-2.325-2.296c-0.004-0.237,0.021-0.484,0.079-0.739l5.396-23.927 C6.762,10.362,8.381,9,10,9"></path><linearGradient id="Pc7gKrZO_wAWI2QBTIN8Kb_iY9a3migtW0L_gr2" x1="13.128" x2="26.645" y1="24" y2="24" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#0077d2"></stop><stop offset="1" stop-color="#0b59a2"></stop></linearGradient><path fill="url(#Pc7gKrZO_wAWI2QBTIN8Kb_iY9a3migtW0L_gr2)" d="M20.5,9h13.47c1.657,0,0.91,1.362,0.52,3.039l-5.527,23.928 C28.575,37.637,28.696,39,27.035,39H13.38c-1.39,0-2.336-0.955-2.379-2.246c-0.008-0.251,0.018-0.516,0.081-0.788l5.711-23.928 C17.187,10.362,18.657,9,20.316,9"></path><linearGradient id="Pc7gKrZO_wAWI2QBTIN8Kc_iY9a3migtW0L_gr3" x1="24" x2="47" y1="24" y2="24" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#37c6d0"></stop><stop offset="1" stop-color="#1a9ba1"></stop></linearGradient><path fill="url(#Pc7gKrZO_wAWI2QBTIN8Kc_iY9a3migtW0L_gr3)" d="M33.273,9h11.401c1.183,0,2.039,0.727,2.266,1.773c0.044,0.204,0.064,0.42,0.059,0.645 c-0.005,0.2-0.031,0.408-0.079,0.62l-5.393,23.928C41.146,37.637,39.525,39,37.906,39h-11.58c-1.355,0-2.279-0.953-2.324-2.241 c-0.009-0.253,0.016-0.518,0.078-0.792l5.578-23.928C30.036,10.362,31.653,9,33.273,9z"></path><path fill="#fefefe" d="M19.364,18.117c-0.325-0.195-0.905-0.134-1.302,0.135c-0.396,0.263-0.45,0.636-0.126,0.833	c0.319,0.189,0.902,0.134,1.296-0.137C19.626,18.68,19.685,18.31,19.364,18.117z M42.308,19.376l-1.171,2.048L40.874,19l-1.24,0.294	l0.454,3.963l-1.415,2.293c-0.038,0.054-0.072,0.091-0.119,0.107c-0.052,0.025-0.118,0.03-0.21,0.03h-0.04L38,26.624l0.75,0.001	c0.53-0.002,0.904-0.288,1.092-0.625L44,19L42.308,19.376z M22.157,25l-0.404,0.701C21.666,25.854,21.518,26,21.19,26h-0.201	l-0.282,0.875h0.668c0.787,0,1.158-0.431,1.158-0.431h2.086l0.301-0.933h-1.752l0.28-0.51L22.157,25z M10.416,19.885	c-0.194,0.75-0.341,1.24-0.679,1.585c-0.233,0.238-0.593,0.351-0.923,0.35c-0.493,0-0.91-0.311-0.883-0.823	c0.002-0.038,0.007-0.078,0.014-0.119C8.187,19.531,9.242,16,9.242,16H7.275l-1.02,4.03c0,0-0.25,0.968-0.255,1.379	c-0.004,0.313,0.047,0.569,0.164,0.785C6.54,22.879,7.652,23,8.288,23c1.088,0,1.731-0.104,2.257-0.424	c0.839-0.51,1.082-1.2,1.341-2.175C12.178,19.305,13,16,13,16h-1.595C11.405,16,10.417,19.883,10.416,19.885z M13.701,23	l0.705-2.869C14.559,20.065,14.709,20,14.851,20c0.338,0,0.414,0.281,0.397,0.393C15.234,20.529,14.658,23,14.658,23h1.404	l0.491-2.068c0.204-0.764,0.307-1.152,0.177-1.468C16.594,19.111,16.246,19,15.924,19c-0.21,0-0.596,0.073-0.946,0.234	c-0.127,0.061-0.247,0.132-0.374,0.202l0.103-0.438l-1.493,0.234L12.25,23H13.701z M25.576,23l0.705-2.869	C26.434,20.065,26.584,20,26.726,20c0.338,0,0.414,0.281,0.397,0.393C27.109,20.529,26.533,23,26.533,23h1.404l0.491-2.068	c0.204-0.764,0.307-1.152,0.177-1.468C28.469,19.111,28.121,19,27.799,19c-0.21,0-0.596,0.073-0.946,0.234	c-0.127,0.061-0.247,0.132-0.374,0.202l0.103-0.438l-1.493,0.234L24.125,23H25.576z M17,23h1.451l0.75-3l-1.486,0.22L17,23z M35.424,16.62c-0.414-0.603-1.269-0.615-2.257-0.62c-0.001,0-0.727,0-0.727,0h-1.614L29,23h1.579l0.665-2.5h0.294	c1.007,0,1.972-0.014,2.809-0.618c0.585-0.426,1.033-0.992,1.228-1.757c0.05-0.187,0.09-0.41,0.096-0.633	C35.678,17.199,35.588,16.847,35.424,16.62z M33.742,18.19c-0.115,0.467-0.428,0.86-0.822,1.049	c-0.324,0.16-0.721,0.137-1.125,0.136h-0.252L32.175,17c0.142,0,0.38,0,0.62,0c0.75,0,0.988,0.477,0.986,0.875	C33.781,17.978,33.768,18.084,33.742,18.19z M28.47,29c0,0-0.075,0.219-0.099,0.293c-0.02,0.063-0.1,0.207-0.327,0.207h-0.419V29	H26.5v2.5c-0.007,0.183,0.179,0.5,0.998,0.5h0.932l0.286-0.876l-0.84,0.001c-0.25,0-0.245-0.116-0.248-0.3	c-0.003-0.2-0.003-0.575-0.003-0.575h0.794c0.73,0,0.89-0.606,0.946-0.787L29.474,29H28.47z"></path><path fill="#fefefe" d="M28.824,25c-1.502,0-1.795,0.67-1.795,0.67L27.235,25h-1.21l-1.979,6.083	c-0.021,0.07-0.048,0.18-0.046,0.299C24.006,31.664,24.174,32,24.964,32l0.718-0.001L26.002,31c0,0-0.36,0-0.485,0	c-0.157,0-0.125-0.13-0.125-0.13l0.709-2.152h1.778c1.47,0,1.743-0.9,1.875-1.31L30.538,25C30.538,25,29.369,25,28.824,25z M28.298,28h-2.001l0.206-0.604h2.005L28.298,28z M28.822,26.518c0,0-1.012-0.01-1.175,0.02c-0.717,0.124-1.018,0.508-1.018,0.508	L26.967,26h2.023L28.822,26.518z M37.507,19.234c0,0-0.01,0.04-0.028,0.111C37.325,19.179,37.07,19,36.668,19	c-0.5,0-0.937,0.179-1.45,0.617c-0.451,0.39-0.677,0.926-0.811,1.439c-0.052,0.19-0.083,0.491-0.083,0.694	c0,1.25,1.082,1.25,1.345,1.25c0.395,0,0.71-0.151,0.965-0.347C36.602,22.776,36.543,23,36.543,23h1.451L39,19L37.507,19.234z M36.098,22.116c-0.063,0-0.438,0-0.429-0.411c0.004-0.203,0.052-0.43,0.125-0.691c0.17-0.608,0.399-1.139,1-1.139	c0.47,0,0.461,0.377,0.26,1.133c-0.058,0.217-0.221,0.609-0.348,0.8C36.521,22.086,36.31,22.116,36.098,22.116z M23.768,19.493	C23.471,19.12,22.93,19.001,22.366,19c-0.339,0-1.149,0.031-1.796,0.579c-0.465,0.396-0.69,0.934-0.831,1.449	c-0.142,0.525-0.316,1.471,0.596,1.824C20.616,22.968,21.025,23,21.29,23c0.675,0.001,1.372-0.174,1.908-0.695	c0.413-0.422,0.614-1.051,0.685-1.31C24.114,20.138,23.964,19.737,23.768,19.493z M21.429,22.115c-0.063,0-0.438,0-0.429-0.411	c0.004-0.203,0.06-0.471,0.125-0.691c0.169-0.572,0.4-1.139,1-1.139c0.47,0,0.461,0.377,0.26,1.133	c-0.058,0.217-0.221,0.609-0.348,0.8C21.852,22.086,21.641,22.116,21.429,22.115z M20.847,27.115L20.556,28h0.846l-0.248,0.769	h-0.848L20,29.706h0.845l-0.536,1.639c-0.072,0.217-0.075,0.654,0.738,0.654h1.627L23,31c0,0-0.931,0-1.181,0	s-0.183-0.177-0.183-0.177l0.368-1.132h1.746l0.302-0.921h-1.747L22.56,28h1.713l0.297-0.885H20.847z M39.7,27.916L40,27h-4.037	l-0.294,0.916h1.211l-0.247,0.743h-1.232l-0.263,0.812h1.082l-0.963,1.265C35.18,30.847,35.017,31,34.749,31h-0.486l0.095-0.289	H33.94L35.479,26h0.547l0.172-0.518c0,0,0,0.381,0,0.517c0,0.434,0.125,0.626,0.821,0.626h0.478L37.8,25.69h-0.223	c-0.147,0.003-0.217-0.044-0.205-0.138V25c0,0-0.799,0-1.25,0c-1.175,0-1.903,0.055-2.193,0.132	c-0.351,0.09-0.807,0.357-0.807,0.357L33.279,25H31.98l-1.862,5.722h-0.28L29.52,31.69h2.874L32.293,32h1.229l0.1-0.31h0.402	L33.919,32h1.02c0.259,0,0.468-0.058,0.642-0.155c0.182-0.101,0.325-0.244,0.447-0.407l0.756-1.006l0.115,1.055	C36.928,31.679,37.002,32,37.791,32h0.568l0.329-1h-0.371c-0.265,0-0.322-0.195-0.337-0.297l-0.132-1.024h-0.615l0.25-0.208h1.703	l0.268-0.812h-1.585l0.251-0.743L39.7,27.916z M32.964,26h1.303l-0.278,0.853c0,0-0.462,0.028-0.693,0.08	c-0.393,0.09-0.72,0.248-0.72,0.248L32.964,26z M32.729,30.722h-1.306l0.347-1.064h1.303L32.729,30.722z M33.408,28.622	c0,0-0.346,0.043-0.574,0.095C32.435,28.832,31.979,29,31.979,29l0.4-1.218h1.308L33.408,28.622z"></path>
					</svg>
			</div>
		</section>

		<section>
			<div class="relative flex min-h-screen flex-col justify-center overflow-hidden bg-gray-50 py-6 sm:py-12">
				<img src="https://lh5.googleusercontent.com/p/AF1QipMjzsOQHszUr11mGqsEFub2RyXYwHdpU9PCFTmN=w1080-h624-n-k-no" alt="" class="absolute h-1/2 w-full justify-start" />
			  
				<div class="shadow-xxl absolute rounded-lg bg-white p-10 max-md:w-full left-0">
				  <div class="mx-auto max-w-md">
					<h1 class="text-2xl font-semibold">流量卡</h1>
					<div class="divide-y divide-gray-300/50">ddd</div>
			  
					<div class="pt-8 text-base font-semibold leading-7">
					  <p class="divide-y divide-dashed text-gray-900">Want to dig deeper into Tailwind?</p>
					  <div class="divide-y divide-dashed">
						<p>
						  <a href="https://tailwindcss.com/docs" class="text-sky-500 hover:text-sky-600">免费申请</a>
						</p>
						<div></div>
					  </div>
					</div>
				  </div>
				</div>
			  </div>			  
		</section>

		<section>
			<h2 class="text-center text-3xl font-bold py-5 md:text-5xl">
				随声Wifi
			</h2>
			<div class="flex">
				
				
			</div>
		</section>

		<section>
			<h2 class="text-center text-3xl font-bold py-5 md:text-5xl">
				手机靓号
			</h2>
			<div class="flex">
				
				
			</div>
		</section>

		<section>
			<h2 class="text-center text-3xl font-bold py-5 md:text-5xl">
				聚合支付
			</h2>
			<div class="flex">
				
				
			</div>
		</section>

		<section>
			<!-- Container -->
			<div class="mx-auto max-w-7xl px-5 py-10 md:px-10 md:py-10">
				<!-- Heading Container -->
				<div class="mx-auto mb-8 max-w-3xl text-center md:mb-12">
					<!-- Heading -->
					<h2 class="text-3xl font-bold md:text-5xl">
						产品 &amp; 价格
					</h2>
					<!-- Subheading -->
					<p class="mt-4 text-sm text-[#636262] sm:text-base">
						我们产品种类丰富，致力于为每一为客户提供长期服务
					</p>
				</div>
				<!-- Prices -->
				<div
					class="grid grid-cols-1 gap-16 sm:grid-cols-2 md:grid-cols-3 md:gap-4"
				>
					<!-- Price 1 -->
					<div
						class="mx-auto w-full max-w-md border-solid border-2 shadow-lg"
					>
						<!-- Price 1 Card -->

						<div class="relative rounded-md p-10">
							<div
								class="mb-4 w-fit rounded-[4px] bg-black px-4 py-1.5"
							>
								<p class="text-sm font-bold text-white">免费</p>
							</div>
							<h2
								class="mb-5 text-3xl font-bold md:mb-6 md:text-5xl lg:mb-8"
							>
								¥0<span class="text-sm font-light">/年</span>
							</h2>
							<p
								class="text-body mb-5 font-light text-[#626263] md:mb-6 lg:mb-8"
							>
								基础用户，每人可以免费领取一张流量卡
							</p>
							<a
								href="http://tc.liuketh.cn"
								target="_blank"
								class="inline-block w-full rounded-md bg-blue-400 px-6 py-3 text-center font-semibold text-white"
								>Get started
								<Image
									src={flowcard}
									width={350}
									height={300}
									alt="流量卡"
									class="absolute inset-0 mx-5 opacity-0 transition duration-500 hover:opacity-100"
								/>
							</a>
						</div>
						<!-- Price 1 Descriptions -->
						<div class="p-5 space-y-4">
							<div class="flex mx-16">
								<span class="-mt-3 w-16">
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="22"
										height="32"
										viewBox="0 0 24 8"
									>
										<path
											d="M0 12.116l2.053-1.897c2.401 1.162 3.924 2.045 6.622 3.969 5.073-5.757 8.426-8.678 14.657-12.555l.668 1.536c-5.139 4.484-8.902 9.479-14.321 19.198-3.343-3.936-5.574-6.446-9.679-10.251z"
										></path>
									</svg>
								</span>
								<span class="text-body text-[#636262]">
									<span class="font-bold text-black"
										>流量卡一张
									</span>
								</span>
							</div>
							<div class="flex mx-16">
								<span class="-mt-3 w-16">
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="22"
										height="32"
										viewBox="0 0 24 8"
									>
										<path
											d="M0 12.116l2.053-1.897c2.401 1.162 3.924 2.045 6.622 3.969 5.073-5.757 8.426-8.678 14.657-12.555l.668 1.536c-5.139 4.484-8.902 9.479-14.321 19.198-3.343-3.936-5.574-6.446-9.679-10.251z"
										></path>
									</svg>
								</span>
								<span class="text-body text-[#636262]">
									<span class="font-bold text-black"
										>支持4G
									</span>
								</span>
							</div>
							<div class="flex mx-16">
								<span class="-mt-3 w-16">
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="22"
										height="32"
										viewBox="0 0 24 8"
									>
										<path
											d="M0 12.116l2.053-1.897c2.401 1.162 3.924 2.045 6.622 3.969 5.073-5.757 8.426-8.678 14.657-12.555l.668 1.536c-5.139 4.484-8.902 9.479-14.321 19.198-3.343-3.936-5.574-6.446-9.679-10.251z"
										></path>
									</svg>
								</span>
								<span class="text-body text-[#636262]">
									<span class="font-bold text-black"
										>套餐种类丰富
									</span>
								</span>
							</div>
							<div class="flex mx-16">
								<span class="-mt-3 w-16">
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="22"
										height="32"
										viewBox="0 0 24 8"
									>
										<path
											d="M0 12.116l2.053-1.897c2.401 1.162 3.924 2.045 6.622 3.969 5.073-5.757 8.426-8.678 14.657-12.555l.668 1.536c-5.139 4.484-8.902 9.479-14.321 19.198-3.343-3.936-5.574-6.446-9.679-10.251z"
										></path>
									</svg>
								</span>
								<span class="text-body text-[#636262]">
									<span class="font-bold text-black">
										流量通用自助激活
									</span>
								</span>
							</div>
							<div class="flex mx-16">
								<span class="-mt-3 w-16">
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="22"
										height="32"
										viewBox="0 0 24 8"
									>
										<path
											d="M0 12.116l2.053-1.897c2.401 1.162 3.924 2.045 6.622 3.969 5.073-5.757 8.426-8.678 14.657-12.555l.668 1.536c-5.139 4.484-8.902 9.479-14.321 19.198-3.343-3.936-5.574-6.446-9.679-10.251z"
										></path>
									</svg>
								</span>
								<span class="text-body text-[#636262]">
									<span class="font-bold text-black"
										>24h人工客服在线
									</span>
								</span>
							</div>
							<div class="flex mx-16">
								<span class="-mt-3 w-16">
									<!-- <svg
										xmlns="http://www.w3.org/2000/svg"
										width="22"
										height="32"
										viewBox="0 0 24 8"
									>
										<path
											d="M0 12.116l2.053-1.897c2.401 1.162 3.924 2.045 6.622 3.969 5.073-5.757 8.426-8.678 14.657-12.555l.668 1.536c-5.139 4.484-8.902 9.479-14.321 19.198-3.343-3.936-5.574-6.446-9.679-10.251z"
										></path>
									</svg> -->
								</span>
								<span class="text-body text-[#636262]">
									<span class="font-bold text-gary"
										>包邮到家
									</span>
								</span>
							</div>
							<div class="flex mx-16">
								<span class="-mt-3 w-16">
									<!-- <svg
										xmlns="http://www.w3.org/2000/svg"
										width="22"
										height="32"
										viewBox="0 0 24 8"
									>
										<path
											d="M0 12.116l2.053-1.897c2.401 1.162 3.924 2.045 6.622 3.969 5.073-5.757 8.426-8.678 14.657-12.555l.668 1.536c-5.139 4.484-8.902 9.479-14.321 19.198-3.343-3.936-5.574-6.446-9.679-10.251z"
										></path>
									</svg> -->
								</span>
								<span class="text-body text-[#636262]">
									<span class="font-bold text-gary"
										>支持5G
									</span>
								</span>
							</div>
						</div>
					</div>
					<!-- Price 2 -->
					<div class="mx-auto w-full max-w-md border-solid border-2">
						<!-- Price 2 Card -->
						<div
							class="overflow-hidden rounded-md bg-[#f2f2f7] p-10 sm:w-full sm:flex-initial"
						>
							<div
								class="mb-4 flex flex-row gap-4 max-[991px]:flex-wrap"
							>
								<div
									class="rounded-[4px] bg-[#1e1e1e] px-4 py-1.5"
								>
									<p class="text-sm font-bold text-white">
										VIP客户
									</p>
								</div>
								<div
									class="flex items-center gap-1.5 rounded-[4px] bg-white px-4 py-1.5"
								>
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="18"
										height="18"
										viewBox="0 0 24 24"
									>
										<path
											d="M21 22h-18v-4h18v4zm-2.266-12.906c-3.749 2.293-5.296-2.125-6.734-7.094-1.433 4.951-2.984 9.388-6.734 7.094-1.305-.798-5.266-4.094-5.266-4.094 1.796 3.797 2.75 6.292 3 11h18c.25-4.708 1.203-7.203 3-11 0 0-3.961 3.296-5.266 4.094z"
										></path>
									</svg>
									<p
										class="text-sm font-bold text-black sm:text-sm"
									>
										最多选择
									</p>
								</div>
							</div>
							<h2
								class="mb-5 text-3xl font-bold md:mb-6 md:text-5xl lg:mb-8"
							>
								¥29<span class="text-sm font-light">/年</span>
							</h2>
							<p
								class="text-body mb-5 font-light text-[#636262] md:mb-6 lg:mb-8"
							>
								年费用户，每年可根据用户需求进行定制
							</p>
							<a
								href="https://work.weixin.qq.com/gm/a6484050538dc4716d3a98758f8e30ab"
								target="_blank"
								class="inline-block w-full rounded-md bg-blue-600 px-6 py-3 text-center font-semibold text-white"
								>Get started</a
							>
						</div>
						<!-- Price 2 Descriptions -->
						<div class="p-5 space-y-4">
							<div class="flex mx-16">
								<span class="-mt-3 w-16">
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="22"
										height="32"
										viewBox="0 0 24 8"
									>
										<path
											d="M0 12.116l2.053-1.897c2.401 1.162 3.924 2.045 6.622 3.969 5.073-5.757 8.426-8.678 14.657-12.555l.668 1.536c-5.139 4.484-8.902 9.479-14.321 19.198-3.343-3.936-5.574-6.446-9.679-10.251z"
										></path>
									</svg>
								</span>
								<span class="text-body text-[#636262]">
									<span class="font-bold text-black"
										>流量卡3张
									</span>
								</span>
							</div>
							<div class="flex mx-16">
								<span class="-mt-3 w-16">
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="22"
										height="32"
										viewBox="0 0 24 8"
									>
										<path
											d="M0 12.116l2.053-1.897c2.401 1.162 3.924 2.045 6.622 3.969 5.073-5.757 8.426-8.678 14.657-12.555l.668 1.536c-5.139 4.484-8.902 9.479-14.321 19.198-3.343-3.936-5.574-6.446-9.679-10.251z"
										></path>
									</svg>
								</span>
								<span class="text-body text-[#636262]">
									<span class="font-bold text-black"
										>内部套餐卡不限
									</span>
								</span>
							</div>
							<div class="flex mx-16">
								<span class="-mt-3 w-16">
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="22"
										height="32"
										viewBox="0 0 24 8"
									>
										<path
											d="M0 12.116l2.053-1.897c2.401 1.162 3.924 2.045 6.622 3.969 5.073-5.757 8.426-8.678 14.657-12.555l.668 1.536c-5.139 4.484-8.902 9.479-14.321 19.198-3.343-3.936-5.574-6.446-9.679-10.251z"
										></path>
									</svg>
								</span>
								<span class="text-body text-[#636262]">
									<span class="font-bold text-black"
										>套餐种类丰富
									</span>
								</span>
							</div>
							<div class="flex mx-16">
								<span class="-mt-3 w-16">
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="22"
										height="32"
										viewBox="0 0 24 8"
									>
										<path
											d="M0 12.116l2.053-1.897c2.401 1.162 3.924 2.045 6.622 3.969 5.073-5.757 8.426-8.678 14.657-12.555l.668 1.536c-5.139 4.484-8.902 9.479-14.321 19.198-3.343-3.936-5.574-6.446-9.679-10.251z"
										></path>
									</svg>
								</span>
								<span class="text-body text-[#636262]">
									<span class="font-bold text-black"
										>支持4G、5G
									</span>
								</span>
							</div>
							<div class="flex mx-16">
								<span class="-mt-3 w-16">
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="22"
										height="32"
										viewBox="0 0 24 8"
									>
										<path
											d="M0 12.116l2.053-1.897c2.401 1.162 3.924 2.045 6.622 3.969 5.073-5.757 8.426-8.678 14.657-12.555l.668 1.536c-5.139 4.484-8.902 9.479-14.321 19.198-3.343-3.936-5.574-6.446-9.679-10.251z"
										></path>
									</svg>
								</span>
								<span class="text-body text-[#636262]">
									<span class="font-bold text-black"
										>一年内免费换卡
									</span>
								</span>
							</div>
							<div class="flex mx-16">
								<span class="-mt-3 w-16">
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="22"
										height="32"
										viewBox="0 0 24 8"
									>
										<path
											d="M0 12.116l2.053-1.897c2.401 1.162 3.924 2.045 6.622 3.969 5.073-5.757 8.426-8.678 14.657-12.555l.668 1.536c-5.139 4.484-8.902 9.479-14.321 19.198-3.343-3.936-5.574-6.446-9.679-10.251z"
										></path>
									</svg>
								</span>
								<span class="text-body text-[#636262]">
									<span class="font-bold text-black"
										>24h人工客服在线
									</span>
								</span>
							</div>
							<div class="flex mx-16">
								<span class="-mt-3 w-16">
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="22"
										height="32"
										viewBox="0 0 24 8"
									>
										<path
											d="M0 12.116l2.053-1.897c2.401 1.162 3.924 2.045 6.622 3.969 5.073-5.757 8.426-8.678 14.657-12.555l.668 1.536c-5.139 4.484-8.902 9.479-14.321 19.198-3.343-3.936-5.574-6.446-9.679-10.251z"
										></path>
									</svg>
								</span>
								<span class="text-body text-[#636262]">
									<span class="font-bold text-black"
										>云闪付支付免费开通
									</span>
								</span>
							</div>
							<div class="flex mx-16">
								<span class="-mt-3 w-16">
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="22"
										height="32"
										viewBox="0 0 24 8"
									>
										<path
											d="M0 12.116l2.053-1.897c2.401 1.162 3.924 2.045 6.622 3.969 5.073-5.757 8.426-8.678 14.657-12.555l.668 1.536c-5.139 4.484-8.902 9.479-14.321 19.198-3.343-3.936-5.574-6.446-9.679-10.251z"
										></path>
									</svg>
								</span>
								<span class="text-body text-[#636262]">
									<span class="font-bold text-black"
										>话费9折充值
									</span>
								</span>
							</div>
						</div>
					</div>
					<!-- Price 3 -->
					<div class="mx-auto w-full max-w-md border-solid border-2">
						<!-- Price 3 Card -->
						<div class="rounded-md p-10">
							<div
								class="mb-4 w-fit rounded-[4px] bg-black px-4 py-1.5"
							>
								<p class="text-sm font-bold text-white">
									高级VIP用户
								</p>
							</div>
							<h2
								class="mb-5 text-3xl font-bold md:mb-6 md:text-5xl lg:mb-8"
							>
								¥99<span class="text-sm font-light">/年</span>
							</h2>
							<p
								class="text-body mb-5 font-light text-[#636262] md:mb-6 lg:mb-8"
							>
								高级用户，所有产品都可以体验
							</p>
							<a
								href="#"
								class="inline-block w-full rounded-md bg-blue-400 px-6 py-3 text-center font-semibold text-white"
								>Get started</a
							>
						</div>
						<!-- Price 3 Descriptions -->
						<div class="p-5 space-y-4">
							<div class="flex mx-16">
								<span class="-mt-3 w-16">
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="22"
										height="32"
										viewBox="0 0 24 8"
									>
										<path
											d="M0 12.116l2.053-1.897c2.401 1.162 3.924 2.045 6.622 3.969 5.073-5.757 8.426-8.678 14.657-12.555l.668 1.536c-5.139 4.484-8.902 9.479-14.321 19.198-3.343-3.936-5.574-6.446-9.679-10.251z"
										></path>
									</svg>
								</span>
								<span class="text-body text-[#636262]">
									<span class="font-bold text-black"
										>流量卡5张
									</span>
								</span>
							</div>
							<div class="flex mx-16">
								<span class="-mt-3 w-16">
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="22"
										height="32"
										viewBox="0 0 24 8"
									>
										<path
											d="M0 12.116l2.053-1.897c2.401 1.162 3.924 2.045 6.622 3.969 5.073-5.757 8.426-8.678 14.657-12.555l.668 1.536c-5.139 4.484-8.902 9.479-14.321 19.198-3.343-3.936-5.574-6.446-9.679-10.251z"
										></path>
									</svg>
								</span>
								<span class="text-body text-[#636262]">
									<span class="font-bold text-black"
										>内部套餐卡不限
									</span>
								</span>
							</div>
							<div class="flex mx-16">
								<span class="-mt-3 w-16">
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="22"
										height="32"
										viewBox="0 0 24 8"
									>
										<path
											d="M0 12.116l2.053-1.897c2.401 1.162 3.924 2.045 6.622 3.969 5.073-5.757 8.426-8.678 14.657-12.555l.668 1.536c-5.139 4.484-8.902 9.479-14.321 19.198-3.343-3.936-5.574-6.446-9.679-10.251z"
										></path>
									</svg>
								</span>
								<span class="text-body text-[#636262]">
									<span class="font-bold text-black"
										>随声Wifi一台
									</span>
								</span>
							</div>
							<div class="flex mx-16">
								<span class="-mt-3 w-16">
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="22"
										height="32"
										viewBox="0 0 24 8"
									>
										<path
											d="M0 12.116l2.053-1.897c2.401 1.162 3.924 2.045 6.622 3.969 5.073-5.757 8.426-8.678 14.657-12.555l.668 1.536c-5.139 4.484-8.902 9.479-14.321 19.198-3.343-3.936-5.574-6.446-9.679-10.251z"
										></path>
									</svg>
								</span>
								<span class="text-body text-[#636262]">
									<span class="font-bold text-black"
										>手机靓号一个
									</span>
								</span>
							</div>
							<div class="flex mx-16">
								<span class="-mt-3 w-16">
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="22"
										height="32"
										viewBox="0 0 24 8"
									>
										<path
											d="M0 12.116l2.053-1.897c2.401 1.162 3.924 2.045 6.622 3.969 5.073-5.757 8.426-8.678 14.657-12.555l.668 1.536c-5.139 4.484-8.902 9.479-14.321 19.198-3.343-3.936-5.574-6.446-9.679-10.251z"
										></path>
									</svg>
								</span>
								<span class="text-body text-[#636262]">
									<span class="font-bold text-black"
										>三年免费换卡
									</span>
								</span>
							</div>
							<div class="flex mx-16">
								<span class="-mt-3 w-16">
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="22"
										height="32"
										viewBox="0 0 24 8"
									>
										<path
											d="M0 12.116l2.053-1.897c2.401 1.162 3.924 2.045 6.622 3.969 5.073-5.757 8.426-8.678 14.657-12.555l.668 1.536c-5.139 4.484-8.902 9.479-14.321 19.198-3.343-3.936-5.574-6.446-9.679-10.251z"
										></path>
									</svg>
								</span>
								<span class="text-body text-[#636262]">
									<span class="font-bold text-black"
										>高级靓号定制
									</span>
								</span>
							</div>
							<div class="flex mx-16">
								<span class="-mt-3 w-16">
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="22"
										height="32"
										viewBox="0 0 24 8"
									>
										<path
											d="M0 12.116l2.053-1.897c2.401 1.162 3.924 2.045 6.622 3.969 5.073-5.757 8.426-8.678 14.657-12.555l.668 1.536c-5.139 4.484-8.902 9.479-14.321 19.198-3.343-3.936-5.574-6.446-9.679-10.251z"
										></path>
									</svg>
								</span>
								<span class="text-body text-[#636262]">
									<span class="font-bold text-black"
										>云路由7折
									</span>
								</span>
							</div>
							<div class="flex mx-16">
								<span class="-mt-3 w-16">
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="22"
										height="32"
										viewBox="0 0 24 8"
									>
										<path
											d="M0 12.116l2.053-1.897c2.401 1.162 3.924 2.045 6.622 3.969 5.073-5.757 8.426-8.678 14.657-12.555l.668 1.536c-5.139 4.484-8.902 9.479-14.321 19.198-3.343-3.936-5.574-6.446-9.679-10.251z"
										></path>
									</svg>
								</span>
								<span class="text-body text-[#636262]">
									<span class="font-bold text-black"
										>24h人工客服在线
									</span>
								</span>
							</div>
							<div class="flex mx-16">
								<span class="-mt-3 w-16">
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="22"
										height="32"
										viewBox="0 0 24 8"
									>
										<path
											d="M0 12.116l2.053-1.897c2.401 1.162 3.924 2.045 6.622 3.969 5.073-5.757 8.426-8.678 14.657-12.555l.668 1.536c-5.139 4.484-8.902 9.479-14.321 19.198-3.343-3.936-5.574-6.446-9.679-10.251z"
										></path>
									</svg>
								</span>
								<span class="text-body text-[#636262]">
									<span class="font-bold text-black"
										>云闪付支付免费开通
									</span>
								</span>
							</div>
							<div class="flex mx-16">
								<span class="-mt-3 w-16">
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="22"
										height="32"
										viewBox="0 0 24 8"
									>
										<path
											d="M0 12.116l2.053-1.897c2.401 1.162 3.924 2.045 6.622 3.969 5.073-5.757 8.426-8.678 14.657-12.555l.668 1.536c-5.139 4.484-8.902 9.479-14.321 19.198-3.343-3.936-5.574-6.446-9.679-10.251z"
										></path>
									</svg>
								</span>
								<span class="text-body text-[#636262]">
									<span class="font-bold text-black"
										>话费89折充值
									</span>
								</span>
							</div>
							<div class="flex mx-16">
								<span class="-mt-3 w-16">
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="22"
										height="32"
										viewBox="0 0 24 8"
									>
										<path
											d="M0 12.116l2.053-1.897c2.401 1.162 3.924 2.045 6.622 3.969 5.073-5.757 8.426-8.678 14.657-12.555l.668 1.536c-5.139 4.484-8.902 9.479-14.321 19.198-3.343-3.936-5.574-6.446-9.679-10.251z"
										></path>
									</svg>
								</span>
								<span class="text-body text-[#636262]">
									<span class="font-bold text-black"
										>粉丝购物优惠福利
									</span>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section>
			<!-- Container -->
			<div class="mx-auto w-full max-w-7xl px-5 my-9 md:px-10 md:py-2">
				<!-- Title -->
				<h2 class="text-center text-3xl font-bold py-5 md:text-5xl">
					我们产生的真实数据
				</h2>
				<p
					class="mx-auto mb-8 mt-4 max-w-lg items-center text-center text-sm text-[#636262] sm:text-base md:mb-12 lg:mb-16"
				>
					致力服务每一个客户，成交只是服务的开始，我们希望您可以一直使用我们的最新产品，当然不管是什么产品！
				</p>
				<!-- Content -->
				<div
					class="mx-auto flex w-full max-w-4xl flex-col flex-wrap justify-between gap-5 px-16 py-10 sm:flex-row md:gap-6"
				>
					<div
						class="flex flex-col items-center justify-center gap-4"
					>
						<p class="text-sm">产品数</p>
						<h2 class="text-3xl font-bold md:text-6xl">20+</h2>
					</div>
					<div
						class="flex flex-col items-center justify-center gap-4"
					>
						<p class="text-sm">服务售后</p>
						<h2 class="text-3xl font-bold md:text-6xl">890+</h2>
					</div>
					<div
						class="flex flex-col items-center justify-center gap-4"
					>
						<p class="text-sm">用户</p>
						<h2 class="text-3xl font-bold md:text-6xl">3500+</h2>
					</div>
					<div
						class="flex flex-col items-center justify-center gap-4"
					>
						<p class="text-sm">覆盖面</p>
						<h2 class="text-3xl font-bold md:text-6xl">全网</h2>
					</div>
				</div>
			</div>
		</section>

		<!-- Section Testimonial -->
		<section >
			<!-- Container -->
			<div
				class="mx-auto w-full max-w-7xl px-5 py-8 md:px-10 md:py-4 lg:py-8"
			>
				<!-- Title -->
				<h2
					class="m-10 text-center text-3xl font-bold md:mb-14 md:text-5xl"
				>
					全网客户的真实声音
				</h2>
				<!-- Testimonial List -->
				<ul
					class="mb-6 grid gap-5 sm:grid-cols-2 md:mb-16 md:grid-cols-3"
				>
					<li
						class="grid gap-8 border border-solid border-[#dfdfdf] bg-white p-8 md:p-10"
					>
						<div class="flex">
							<img
								src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6357722e2a5f195bcf37f880_Vector.svg"
								alt=""
								class="mr-1.5 w-4"
							/>
							<img
								src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6357722e2a5f195bcf37f880_Vector.svg"
								alt=""
								class="mr-1.5 w-4"
							/>
							<img
								src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6357722e2a5f195bcf37f880_Vector.svg"
								alt=""
								class="mr-1.5 w-4"
							/>
							<img
								src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6357722e2a5f195bcf37f880_Vector.svg"
								alt=""
								class="mr-1.5 w-4"
							/>
							<img
								src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6357722e2a5f195bcf37f880_Vector.svg"
								alt=""
								class="mr-1.5 w-4"
							/>
						</div>
						<p class="text-[#647084]">
							我从上学的时候也就17年买的卡，之后一直在使用他们家的产品，经常给我身边的朋友推荐[流客科技]。
							从上学到上班, 这便是最深情的告白"
						</p>
						<div class="flex">
							<img
								src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6358cb67bf1bca198e298c35_Ellipse%205-2.png"
								alt=""
								class="mr-4 h-16 w-16"
							/>
							<div class="flex flex-col">
								<h6 class="font-bold">Laila Bahar</h6>
								<p class="text-sm text-[#636262]">Designer</p>
							</div>
						</div>
					</li>
					<li
						class="grid gap-8 border border-solid border-[#dfdfdf] bg-white p-8 md:p-10"
					>
						<div class="flex">
							<img
								src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6357722e2a5f195bcf37f880_Vector.svg"
								alt=""
								class="mr-1.5 w-4"
							/>
							<img
								src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6357722e2a5f195bcf37f880_Vector.svg"
								alt=""
								class="mr-1.5 w-4"
							/>
							<img
								src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6357722e2a5f195bcf37f880_Vector.svg"
								alt=""
								class="mr-1.5 w-4"
							/>
							<img
								src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6357722e2a5f195bcf37f880_Vector.svg"
								alt=""
								class="mr-1.5 w-4"
							/>
							<img
								src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6357722e2a5f195bcf37f880_Vector.svg"
								alt=""
								class="mr-1.5 w-4"
							/>
						</div>
						<p class="text-[#647084]">
							售后服务很好，有问题积极处理，而且卡的网速也是快的飞起，如果网速不行，可以找客户给你调换，使用起来完全无顾虑
						</p>
						<div class="flex">
							<img
								src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6358cb5e3ea08ab4c244194a_Ellipse%205-4.png"
								alt=""
								class="mr-4 h-16 w-16"
							/>
							<div class="flex flex-col">
								<h6 class="font-bold">Laila Bahar</h6>
								<p class="text-sm text-[#636262]">Designer</p>
							</div>
						</div>
					</li>
					<li
						class="grid gap-8 border border-solid border-[#dfdfdf] bg-white p-8 md:p-10"
					>
						<div class="flex">
							<img
								src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6357722e2a5f195bcf37f880_Vector.svg"
								alt=""
								class="mr-1.5 w-4"
							/>
							<img
								src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6357722e2a5f195bcf37f880_Vector.svg"
								alt=""
								class="mr-1.5 w-4"
							/>
							<img
								src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6357722e2a5f195bcf37f880_Vector.svg"
								alt=""
								class="mr-1.5 w-4"
							/>
							<img
								src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6357722e2a5f195bcf37f880_Vector.svg"
								alt=""
								class="mr-1.5 w-4"
							/>
							<img
								src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6357722e2a5f195bcf37f880_Vector.svg"
								alt=""
								class="mr-1.5 w-4"
							/>
						</div>
						<p class="text-[#647084]">
							不是宝藏，胜似宝藏，能找到一个长期更新各种卡，而且不跑路的老板太难了，我已经用户有4年了，希望老板越来越强，生意越来越好
						</p>
						<div class="flex">
							<img
								src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6358cb614a296368b383467c_Ellipse%205-3.png"
								alt=""
								class="mr-4 h-16 w-16"
							/>
							<div class="flex flex-col">
								<h6 class="text-base font-bold">Laila Bahar</h6>
								<p class="text-sm text-[#636262]">Designer</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</section>
	</main>
</Layout>
