---
import Layout from "../layouts/HomeLayout.astro";
import HomeMain from '../components/Landing/HomeMain.astro'
import Evaluate from '../components/Landing/Evaluate.astro'
import Price from '../components/Landing/Price.astro'
import QA from '../components/Landing/QA'
import Service from '../components/Landing/Service.astro'
import Cooperate from "../components/Landing/Cooperate";
import Product from '../components/Landing/Play'
import Feature from "../components/Landing/Feature.astro";

---
<!-- 异步加载字体 -->
<script defer src="https://kit.fontawesome.com/b9c2381458.js" crossorigin="anonymous"></script>

<Layout>
	<main>
		<HomeMain />
		<Feature />
		<Product client:visible/>
		<Price />
		<Service />
		<Evaluate/>
		<QA client:visible/>
		<Cooperate client:visible/>
	</main>
</Layout>

















