---
import { Image } from "astro:assets";
import officialAccount from "../image/index/official.webp";
import logo from "../image/index/logo_w.png";
---

<footer>
  <section>
    <div
      class="w-full flex-col bg-black py-20 text-white lg:flex lg:px-10 xl:px-20"
    >
      <!-- TOP CONTAINER -->
      <div class="grid md:flex md:flex-row justify-center">
        <!-- LOGO DIV -->
        <div class="ml-20">
          <!-- LOGO -->
          <a href="/" class="inline-block max-w-full">
            <Image
              src={logo}
              alt="logo"
              width={170}
              height={100}
              class="inline-block max-h-10 rounded-2xl"
            />
          </a>
          <p
            class="font-sans mt-4 max-w-[350px] text-base font-normal text-gray-400"
          >
            通讯行业数十年的深耕
          </p>
          <!-- SOCIAL MEDIA ICONS -->
          <div class="mb-8 mt-6 flex flex-row">
            <Image src={officialAccount} alt="流量卡官网" width={150} height={150} />
            <a href="" class="mx-4 transition hover:text-gray-400">
              <!-- <Twitter theme="outline" size="24" fill="#333" /> -->
            </a>
          </div>
        </div>
        <!-- FOOTER LINKS -->
        <div class="pl-24 sm:flex sm:flex-row sm:flex-wrap sm:mx-10 sm:gap-20">
          <!-- LINK BLOCK -->
          <div
            class="mb-5 mr-6 flex w-[100px] grow basis-[100px] flex-col space-y-5"
          >
            <h2 class="font-sans font-semibold">流量卡</h2>
            <a href="" target="_blank" class="font-sans font-normal text-gray-400">流量卡</a>
            <a href="http://tc.liuketh.cn" target="_blank" class="font-sans font-normal text-gray-400">内部套餐卡</a>
            <a href="https://card.xuankaba.com/t/0.x5bgrv" target="_blank" class="font-sans font-normal text-gray-400">互联网卡</a>
          </div>
          <!-- LINK BLOCK -->
          <div
            class="mb-5 mr-8 flex w-[100px] grow basis-[100px] flex-col space-y-5"
          >
            <h2 class="font-sans font-semibold">其他产品</h2>
            <a href="https://sn.xuankaba.com/?key=x5bgrv" target="_blank" class="font-sans font-normal text-gray-400">免费靓号</a>
            <a href="http://lh.liuketh.cn" target="_blank" class="font-sans font-normal text-gray-400">精品靓号</a>
            <a href="http://all.liuketh.cn" target="_blank" class="font-sans font-normal text-gray-400">京东优惠券群</a>
          </div>
          <!-- LINK BLOCK -->
          <div class="mb-5 flex w-[100px] grow basis-[80px] flex-col space-y-5">
            <h2 class="font-sans font-semibold">其他</h2>
            <a href="/about" class="font-sans font-normal text-gray-400"
              >关于我们</a
            >
            <a href="/blog" class="font-sans font-normal text-gray-400"
              >最新资讯</a
            >
            <a
              href="https://work.weixin.qq.com/gm/a6484050538dc4716d3a98758f8e30ab"
              target="_blank"
              class="font-sans font-normal text-gray-400">粉丝群</a
            >
          </div>
        </div>
        <!-- LOCATION & SUPPORT -->
        <div class="flex flex-col mx-20">
          <!-- ITEM -->
          <div class="mb-4 flex flex-row items-center">
            <img
              src="https://assets.website-files.com/6357722e2a5f19121d37f84d/635b62a7ee8efff72bc18bb3_MapPin-3.svg"
              alt=""
              class="mr-3 inline-block"
            />
            <p class="font-sans ml-4">China, Xian</p>
          </div>
          <div class="mb-4 flex flex-row items-center">
            <!--?xml version="1.0" encoding="UTF-8"?-->
            <svg
              width="24"
              height="24"
              viewBox="0 0 48 48"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                d="M8 30H40V42C40 43.1046 39.1046 44 38 44H10C8.89543 44 8 43.1046 8 42V30Z"
                fill="none"
                stroke="#ffffff"
                stroke-width="4"
                stroke-linejoin="round"></path><path
                d="M40 30V6C40 4.89543 39.1046 4 38 4H10C8.89543 4 8 4.89543 8 6V30"
                stroke="#ffffff"
                stroke-width="4"
                stroke-linejoin="round"></path><path
                d="M22 37H26"
                stroke="#ffffff"
                stroke-width="4"
                stroke-linecap="round"></path></svg
            >
            <p class="font-sans ml-4">&nbsp; 15556355573</p>
          </div>
          <!-- ITEM -->
          <div class="mb-4 flex flex-row items-center">
            <img
              src="https://assets.website-files.com/6357722e2a5f19121d37f84d/635b62a9be59b845bbcb04a0_EnvelopeSimple-4.svg"
              alt=""
              class="mr-3 inline-block"
            />
            <p class="font-sans ml-4">liuketh@qq.com</p>
          </div>
        </div>
      </div>
      <!-- DIVIDER -->
      <div class="mx-auto my-4 w-full border border-[#E4E4E7] lg:my-10"></div>
      <!-- COPYRIGHT TEXT -->
      <div>
        <p class="font-sans lg: text-center text-sm text-gray-400">
          Copyright © {new Date().getFullYear()} All Rights By 流客科技 <a href="https://beian.miit.gov.cn" target="_blank">陕ICP备20008168号</a>
        </p>
      </div>
    </div>
  </section>
</footer>

<style>
  footer {
    gap: 1rem;
    width: 100%; /* 宽度覆盖整个窗口宽度 */
    background-color: #333; /* 添加背景颜色 */
    color: #fff; /* 文本颜色 */
    z-index: 999; /* 可能需要调整z-index确保其层级高于其他元素 */
  }
</style>
