<footer>
  <section>
    <div
      class="w-full flex-col bg-black py-20 text-white lg:flex lg:px-10 xl:px-20"
    >
      <!-- TOP CONTAINER -->
      <div class="flex flex-row justify-center">
        <!-- LOGO DIV -->
        <div class="ml-20">
          <!-- LOGO -->
          <a href="#" class="inline-block max-w-full">
            <img
              src="../../public/index/logo_w.png"
              alt=""
              class="inline-block max-h-10 rounded-2xl"
            />
          </a>
          <p
            class="font-inter mt-4 max-w-[350px] text-base font-light text-gray-500"
          >
            通讯行业数十年的深耕
          </p>
          <!-- SOCIAL MEDIA ICONS -->
          <div class="mb-8 mt-6 flex flex-row">
            <a href="" class="mr-4 transition hover:text-gray-400">
              <!--?xml version="1.0" encoding="UTF-8"?-->
              <!--?xml version="1.0" encoding="UTF-8"?-->
              <svg
                width="24"
                height="24"
                viewBox="0 0 48 48"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                ><path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M36.9974 21.7112C36.8434 13.0079 29.7401 6 21 6C12.1634 6 5 13.1634 5 22C5 26.1701 6.59531 29.9676 9.20892 32.8154L8.01043 40.0257L15.125 36.9699C18.2597 38.0122 21.218 38.2728 24 37.7516"
                  fill="none"></path><path
                  d="M36.9974 21.7112C36.8434 13.0079 29.7401 6 21 6C12.1634 6 5 13.1634 5 22C5 26.1701 6.59531 29.9676 9.20892 32.8154L8.01043 40.0257L15.125 36.9699C18.2597 38.0122 21.218 38.2728 24 37.7516"
                  stroke="#ffffff"
                  stroke-width="4"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path><path
                  d="M15.125 20.4667C16.3676 20.4667 17.375 19.4519 17.375 18.2C17.375 16.9482 16.3676 15.9333 15.125 15.9333C13.8824 15.9333 12.875 16.9482 12.875 18.2C12.875 19.4519 13.8824 20.4667 15.125 20.4667Z"
                  fill="#ffffff"></path><path
                  d="M24.125 20.4667C25.3676 20.4667 26.375 19.4519 26.375 18.2C26.375 16.9482 25.3676 15.9333 24.125 15.9333C22.8824 15.9333 21.875 16.9482 21.875 18.2C21.875 19.4519 22.8824 20.4667 24.125 20.4667Z"
                  fill="#ffffff"></path><path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M38.7618 39.9293C37.0135 41.2302 34.8467 42 32.5 42C26.701 42 22 37.299 22 31.5C22 25.701 26.701 21 32.5 21C38.299 21 43 25.701 43 31.5C43 33.0997 42.6423 34.6159 42.0024 35.9728"
                  fill="none"></path><path
                  d="M38.7618 39.9293C37.0135 41.2302 34.8467 42 32.5 42C26.701 42 22 37.299 22 31.5C22 25.701 26.701 21 32.5 21C38.299 21 43 25.701 43 31.5C43 33.0997 42.6423 34.6159 42.0024 35.9728"
                  stroke="#ffffff"
                  stroke-width="4"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path><path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M42.0024 35.9728L43 42L38.7618 39.9293"
                  fill="none"></path><path
                  d="M42.0024 35.9728L43 42L38.7618 39.9293"
                  stroke="#ffffff"
                  stroke-width="4"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path><path
                  d="M35.6875 30.7999C34.7555 30.7999 34 30.0388 34 29.0999C34 28.161 34.7555 27.3999 35.6875 27.3999C36.6195 27.3999 37.375 28.161 37.375 29.0999C37.375 30.0388 36.6195 30.7999 35.6875 30.7999Z"
                  fill="#ffffff"></path><path
                  d="M28.9375 30.7999C28.0055 30.7999 27.25 30.0388 27.25 29.0999C27.25 28.161 28.0055 27.3999 28.9375 27.3999C29.8695 27.3999 30.625 28.161 30.625 29.0999C30.625 30.0388 29.8695 30.7999 28.9375 30.7999Z"
                  fill="#ffffff"></path></svg
              >
            </a>
            <a href="" class="mx-4 transition hover:text-gray-400">
              <svg
                class="fill-current"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M12 15C13.6569 15 15 13.6569 15 12C15 10.3431 13.6569 9 12 9C10.3431 9 9 10.3431 9 12C9 13.6569 10.3431 15 12 15Z"
                ></path>
                <path
                  d="M16.125 2.625H7.875C6.4831 2.62658 5.14865 3.18021 4.16443 4.16443C3.18021 5.14865 2.62658 6.4831 2.625 7.875V16.125C2.62658 17.5169 3.18021 18.8513 4.16443 19.8356C5.14865 20.8198 6.4831 21.3734 7.875 21.375H16.125C17.5169 21.3734 18.8513 20.8198 19.8356 19.8356C20.8198 18.8513 21.3734 17.5169 21.375 16.125V7.875C21.3734 6.4831 20.8198 5.14865 19.8356 4.16443C18.8513 3.18021 17.5169 2.62658 16.125 2.625ZM12 16.5C11.11 16.5 10.24 16.2361 9.49993 15.7416C8.75991 15.2471 8.18314 14.5443 7.84254 13.7221C7.50195 12.8998 7.41283 11.995 7.58647 11.1221C7.7601 10.2492 8.18868 9.44736 8.81802 8.81802C9.44736 8.18868 10.2492 7.7601 11.1221 7.58647C11.995 7.41283 12.8998 7.50195 13.7221 7.84254C14.5443 8.18314 15.2471 8.75991 15.7416 9.49993C16.2361 10.24 16.5 11.11 16.5 12C16.4987 13.1931 16.0241 14.3369 15.1805 15.1805C14.3369 16.0241 13.1931 16.4987 12 16.5ZM16.875 8.25C16.6525 8.25 16.435 8.18402 16.25 8.0604C16.065 7.93679 15.9208 7.76109 15.8356 7.55552C15.7505 7.34995 15.7282 7.12375 15.7716 6.90552C15.815 6.68729 15.9222 6.48684 16.0795 6.3295C16.2368 6.17217 16.4373 6.06502 16.6555 6.02162C16.8738 5.97821 17.1 6.00049 17.3055 6.08564C17.5111 6.17078 17.6868 6.31498 17.8104 6.49998C17.934 6.68499 18 6.9025 18 7.125C18 7.42337 17.8815 7.70952 17.6705 7.9205C17.4595 8.13147 17.1734 8.25 16.875 8.25Z"
                ></path>
              </svg>
            </a>
            <a href="" class="mx-4 transition hover:text-gray-400">
              <!-- <Twitter theme="outline" size="24" fill="#333" /> -->
            </a>
          </div>
        </div>
        <!-- FOOTER LINKS -->
        <div
          class="flex grow flex-row flex-wrap lg:flex-nowrap justify-center mx-20"
        >
          <!-- LINK BLOCK -->
          <div
            class="mb-5 mr-8 flex w-[100px] grow basis-[100px] flex-col space-y-5"
          >
            <h2 class="font-inter font-medium">产品分类</h2>
            <a href="" class="font-inter font-light text-gray-500">流量卡</a>
            <a href="" class="font-inter font-light text-gray-500">随身Wifi</a>
            <a href="" class="font-inter font-light text-gray-500">云路由</a>
          </div>
          <!-- LINK BLOCK -->
          <div
            class="mb-5 mr-8 flex w-[100px] grow basis-[100px] flex-col space-y-5"
          >
            <h2 class="font-inter font-medium">产品导航</h2>
            <a href="" class="font-inter font-light text-gray-500">免费靓号</a>
            <a href="" class="font-inter font-light text-gray-500">精品靓号</a>
            <a href="" class="font-inter font-light text-gray-500">内部卡</a>
            <a href="" class="font-inter font-light text-gray-500"></a>
          </div>
          <!-- LINK BLOCK -->
          <div class="mb-5 flex w-[100px] grow basis-[50px] flex-col space-y-5">
            <h2 class="font-inter font-medium">其他</h2>
            <a href="" class="font-inter font-light text-gray-500">关于我们</a>
            <a href="" class="font-inter font-light text-gray-500">最新资讯</a>
          </div>
        </div>
        <!-- LOCATION & SUPPORT -->
        <div class="flex flex-col mr-40">
          <!-- ITEM -->
          <div class="mb-4 flex flex-row items-center">
            <img
              src="https://assets.website-files.com/6357722e2a5f19121d37f84d/635b62a7ee8efff72bc18bb3_MapPin-3.svg"
              alt=""
              class="mr-3 inline-block"
            />
            <p class="font-inter ml-4">China, Xian</p>
          </div>
          <div class="mb-4 flex flex-row items-center">
            <!--?xml version="1.0" encoding="UTF-8"?-->
            <svg
              width="24"
              height="24"
              viewBox="0 0 48 48"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                d="M8 30H40V42C40 43.1046 39.1046 44 38 44H10C8.89543 44 8 43.1046 8 42V30Z"
                fill="none"
                stroke="#ffffff"
                stroke-width="4"
                stroke-linejoin="round"></path><path
                d="M40 30V6C40 4.89543 39.1046 4 38 4H10C8.89543 4 8 4.89543 8 6V30"
                stroke="#ffffff"
                stroke-width="4"
                stroke-linejoin="round"></path><path
                d="M22 37H26"
                stroke="#ffffff"
                stroke-width="4"
                stroke-linecap="round"></path></svg
            >
            <p class="font-inter ml-4">&nbsp; 15556355573</p>
          </div>
          <!-- ITEM -->
          <div class="mb-4 flex flex-row items-center">
            <img
              src="https://assets.website-files.com/6357722e2a5f19121d37f84d/635b62a9be59b845bbcb04a0_EnvelopeSimple-4.svg"
              alt=""
              class="mr-3 inline-block"
            />
            <p class="font-inter ml-4">liuketh@qq.com</p>
          </div>
        </div>
      </div>
      <!-- DIVIDER -->
      <div class="mx-auto my-4 w-full border border-[#E4E4E7] lg:my-10"></div>
      <!-- COPYRIGHT TEXT -->
      <div>
        <p class="font-inter lg: text-center text-sm text-gray-500">
          Copyright © {new Date().getFullYear()} All rights by lk
        </p>
      </div>
    </div>
  </section>
</footer>

<style>
  footer {
    gap: 1rem;
    width: 100%; /* 宽度覆盖整个窗口宽度 */
    background-color: #333; /* 添加背景颜色 */
    color: #fff; /* 文本颜色 */
    z-index: 999; /* 可能需要调整z-index确保其层级高于其他元素 */
  }
</style>
