---
import Social from "./Social.astro";
---

<style>
    footer {
        gap: 1rem;
        width: 100%; /* 宽度覆盖整个窗口宽度 */
        background-color: #333; /* 添加背景颜色 */
        color: #fff; /* 文本颜色 */
        z-index: 999; /* 可能需要调整z-index确保其层级高于其他元素 */
    }
</style>

<footer>
    <section>
        <div class="w-screen flex-col bg-black px-6 py-20 text-white lg:flex lg:px-10 xl:px-24">
          <!-- TOP CONTAINER -->
          <div class="lg:flex lg:flex-row lg:justify-between">
            <!-- LOGO DIV -->
            <div>
              <!-- LOGO -->
              <a href="#" class="inline-block max-w-full">
                <img src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6358f89d8088ab28fa7e8f5c_Group%2047874-3.svg" alt="" class="inline-block max-h-10" />
              </a>
              <p class="font-inter mt-4 max-w-[350px] text-base font-light text-gray-500">通讯行业数十年的深耕</p>
              <!-- SOCIAL MEDIA ICONS -->
              <div class="mb-8 mt-6 flex flex-row">
                <a href="" class="mr-4 transition hover:text-gray-400">
                  <?xml version="1.0" encoding="UTF-8"?><svg width="24" height="24" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5 35.7622C6.92886 36.8286 20.8914 44.8773 30.8199 38.674C40.7483 32.4707 40.2006 21.7833 40.2006 16.886C41.1 15.0018 43 14.0439 43 8.9438C41.1337 10.6678 39.2787 11.2544 37.435 10.7036C35.6287 7.94957 33.1435 6.73147 29.9794 7.04934C25.2333 7.52614 23.4969 12.1825 24.0079 18.2067C16.6899 21.9074 10.9515 15.524 7.99418 10.7036C7.00607 14.4999 6.0533 19.0576 7.99418 24.0995C9.2881 27.4607 12.3985 30.3024 17.3254 32.6246C12.3323 35.3308 8.22382 36.3766 5 35.7622Z" fill="#2F88FF" stroke="#333" stroke-width="4" stroke-linejoin="round" /></svg>
                </a>
                <a href="" class="mx-4 transition hover:text-gray-400">
                  <svg class="fill-current" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 15C13.6569 15 15 13.6569 15 12C15 10.3431 13.6569 9 12 9C10.3431 9 9 10.3431 9 12C9 13.6569 10.3431 15 12 15Z"></path>
                    <path d="M16.125 2.625H7.875C6.4831 2.62658 5.14865 3.18021 4.16443 4.16443C3.18021 5.14865 2.62658 6.4831 2.625 7.875V16.125C2.62658 17.5169 3.18021 18.8513 4.16443 19.8356C5.14865 20.8198 6.4831 21.3734 7.875 21.375H16.125C17.5169 21.3734 18.8513 20.8198 19.8356 19.8356C20.8198 18.8513 21.3734 17.5169 21.375 16.125V7.875C21.3734 6.4831 20.8198 5.14865 19.8356 4.16443C18.8513 3.18021 17.5169 2.62658 16.125 2.625ZM12 16.5C11.11 16.5 10.24 16.2361 9.49993 15.7416C8.75991 15.2471 8.18314 14.5443 7.84254 13.7221C7.50195 12.8998 7.41283 11.995 7.58647 11.1221C7.7601 10.2492 8.18868 9.44736 8.81802 8.81802C9.44736 8.18868 10.2492 7.7601 11.1221 7.58647C11.995 7.41283 12.8998 7.50195 13.7221 7.84254C14.5443 8.18314 15.2471 8.75991 15.7416 9.49993C16.2361 10.24 16.5 11.11 16.5 12C16.4987 13.1931 16.0241 14.3369 15.1805 15.1805C14.3369 16.0241 13.1931 16.4987 12 16.5ZM16.875 8.25C16.6525 8.25 16.435 8.18402 16.25 8.0604C16.065 7.93679 15.9208 7.76109 15.8356 7.55552C15.7505 7.34995 15.7282 7.12375 15.7716 6.90552C15.815 6.68729 15.9222 6.48684 16.0795 6.3295C16.2368 6.17217 16.4373 6.06502 16.6555 6.02162C16.8738 5.97821 17.1 6.00049 17.3055 6.08564C17.5111 6.17078 17.6868 6.31498 17.8104 6.49998C17.934 6.68499 18 6.9025 18 7.125C18 7.42337 17.8815 7.70952 17.6705 7.9205C17.4595 8.13147 17.1734 8.25 16.875 8.25Z"></path>
                  </svg>
                </a>
                <a href="" class="mx-4 transition hover:text-gray-400">
                  <?xml version="1.0" encoding="UTF-8"?><svg width="24" height="24" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5 35.7622C6.92886 36.8286 20.8914 44.8773 30.8199 38.674C40.7483 32.4707 40.2006 21.7833 40.2006 16.886C41.1 15.0018 43 14.0439 43 8.9438C41.1337 10.6678 39.2787 11.2544 37.435 10.7036C35.6287 7.94957 33.1435 6.73147 29.9794 7.04934C25.2333 7.52614 23.4969 12.1825 24.0079 18.2067C16.6899 21.9074 10.9515 15.524 7.99418 10.7036C7.00607 14.4999 6.0533 19.0576 7.99418 24.0995C9.2881 27.4607 12.3985 30.3024 17.3254 32.6246C12.3323 35.3308 8.22382 36.3766 5 35.7622Z" fill="#2F88FF" stroke="#333" stroke-width="4" stroke-linejoin="round" /></svg>
                </a>
                <a href="" class="mx-4 transition hover:text-gray-400">
                  <!-- <Twitter theme="outline" size="24" fill="#333" /> -->
                </a>
              </div>
            </div>
            <!-- FOOTER LINKS -->
            <div class="flex grow flex-row flex-wrap lg:mx-10 lg:flex-nowrap lg:justify-center">
              <!-- LINK BLOCK -->
              <div class="mb-5 mr-8 flex max-w-[200px] grow basis-[100px] flex-col space-y-5 lg:mx-10">
                <h2 class="font-inter font-medium">产品分类</h2>
                <a href="" class="font-inter font-light text-gray-500">Marketing</a>
                <a href="" class="font-inter font-light text-gray-500">Analytics</a>
                <a href="" class="font-inter font-light text-gray-500">Commerce</a>
                <a href="" class="font-inter font-light text-gray-500">Insights</a>
              </div>
              <!-- LINK BLOCK -->
              <div class="mb-5 mr-8 flex max-w-[200px] grow basis-[100px] flex-col space-y-5 lg:mx-10">
                <h2 class="font-inter font-medium">产品导航</h2>
                <a href="" class="font-inter font-light text-gray-500">免费靓号</a>
                <a href="" class="font-inter font-light text-gray-500">精品靓号</a>
                <a href="" class="font-inter font-light text-gray-500">内部卡</a>
                <a href="" class="font-inter font-light text-gray-500"></a>
              </div>
              <!-- LINK BLOCK -->
              <div class="mb-5 mr-8 flex max-w-[200px] grow basis-[100px] flex-col space-y-5 lg:mx-10">
                <h2 class="font-inter font-medium">其他</h2>
                <a href="" class="font-inter font-light text-gray-500">About</a>
                <a href="" class="font-inter font-light text-gray-500">Blog</a>
                <a href="" class="font-inter font-light text-gray-500">Jobs</a>
                <a href="" class="font-inter font-light text-gray-500">Press</a>
                <a href="" class="font-inter font-light text-gray-500">Partners</a>
              </div>
            </div>
            <!-- LOCATION & SUPPORT -->
            <div class="flex flex-col">
              <!-- ITEM -->
              <div class="mb-4 flex flex-row items-center">
                <img src="https://assets.website-files.com/6357722e2a5f19121d37f84d/635b62a7ee8efff72bc18bb3_MapPin-3.svg" alt="" class="mr-3 inline-block" />
                <p class="font-inter ml-4">China, Xian</p>
              </div>
              <!-- ITEM -->
              <div class="mb-4 flex flex-row items-center">
                <img src="https://assets.website-files.com/6357722e2a5f19121d37f84d/635b62a9be59b845bbcb04a0_EnvelopeSimple-4.svg" alt="" class="mr-3 inline-block" />
                <p class="font-inter ml-4">liuketh@qq.com</p>
              </div>
            </div>
          </div>
          <!-- DIVIDER -->
          <div class="mx-auto my-4 w-full border border-[#E4E4E7] lg:my-10"></div>
          <!-- COPYRIGHT TEXT -->
          <div>
            <p class="font-inter lg: text-center text-sm text-gray-500">Copyright ©2024. All rights by lk</p>
          </div>
        </div>
      </section>
</footer>
