---
---
<div
  class="prose prose:mt-1 leading-snug max-w-full prose-slate prose-width:w-full
  prose-h1:font-bold prose-h1:text-3xl prose-h1:mt-1 prose-h2:font-bold prose-h2:text-2xl prose-h2:mt-1 prose-h3:font-bold prose-h3:text-xl prose-h3:mt-1
  prose-a:text-blue-600 prose-p:text-justify prose-img:rounded-xl
  prose-headings:underline">
  <slot />
</div>
