---
import { Image } from "astro:assets";
import "../styles/global.css";
import ThemeIcon from "./ThemeIcon.astro";
import logo from "../image/index/logo_w.png";
---

<div class="flex items-center justify-between bg-gray-800 p-4 text-white">
    <a href="/">
        <Image
            class="h-14 w-60 rounded-lg max-sm:hidden"
            src={logo}
            alt="Logo"
        />
    </a>

    <!-- PC menu (hidden on small screens) -->
    <div
        class="sm:flex space-x-10 text-2xl font-medium basis-4/5 max-sm:hidden"
    >
        <a class="hover:bg-blue-500" href="/flowcard">流量卡</a>
        <a class="hover:bg-blue-500" href="/wifi">随身Wifi</a>
        <a class="hover:bg-blue-500" href="/product">最新产品</a>
        <a class="hover:bg-blue-500" href="/agent">代理合作</a>
        <a class="hover:bg-blue-500" href="/blog/">最新资讯</a>
        <a class="hover:bg-blue-500" href="/about">关于我们</a>
    </div>

    <!-- Mobile menu (hidden initially) -->
    <div
        id="menu"
        class="hidden max-sm:flex flex-col space-y-3 text-xl font-medium"
    >
        <a class="hover:bg-blue-500" href="/flowcard">流量卡</a>
        <a class="hover:bg-blue-500" href="/wifi">随身Wifi</a>
        <a class="hover:bg-blue-500" href="/product">最新产品</a>
        <a class="hover:bg-blue-500" href="/agent">代理合作</a>
        <a class="hover:bg-blue-500" href="/blog/">最新资讯</a>
        <a class="hover:bg-blue-500" href="/about">关于我们</a>
    </div>

    <!-- Expand button (visible on small screens) -->
    <button id="expend" class="visible sm:hidden">Expand</button>
</div>
