---
import "../styles/global.css";
import ThemeIcon from "./ThemeIcon.astro";
---

<div class="nav-links">
    <img
        class="w-60 h-14"
        src="https://cn.bing.com/th?id=OVFT.fNTaJ_jlX5n5kXjSu4WWHC&w=186&h=88&c=7&rs=2&qlt=80&pid=PopNow"
    />
    <div class="flex-1">
        <a href="/">流客科技</a>
        <a href="/flowcard">流量卡</a>
        <a href="/wifi">随身WiFi</a>
        <a href="/product">流量卡</a>
        <a href="/agent">团队代理</a>
        <a href="/blog/">最新资讯</a>
        <a href="/about">关于我们</a>
    </div>
    <ThemeIcon />
</div>
