---
import "../styles/global.css";
---

<div class="nav-links">
    <a href="/">流客科技</a>
    <a href="/flowcard">流量卡</a>
    <a href="/wifi">随身WiFi</a>
    <a href="/product">流量卡</a>
    <a href="/agent">团队代理</a>
    <a href="/blog/">最新资讯</a>
    <a href="/about">关于我们</a>
</div>
