---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { ViewTransitions } from "astro:transitions";
import "../styles/global.css";
const { pageTitle } = Astro.props;

const makeTitle = pageTitle
	? pageTitle + " | " + "流客科技"
	: "流客科技 - 万网之流，来者皆可客";
---

<html lang="zh-cn">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />

		<meta name="generator" content={Astro.generator} />
		<title>{makeTitle}</title>
		<meta
			name="description"
			content="流量卡官网，提供IOT全面服务,包括通信领域,物联网领域,流量卡领域,可进行手机卡开通,靓号办理,155555、1555522、1555533、1314520手机靓号办理,全国手机话费9折充值,内部优惠套餐卡办理! "
		/>
		<ViewTransitions />
	</head>
	<body>
		<Header />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>
