---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
const {pageTitle} = Astro.props;

const makeTitle = pageTitle
  ? pageTitle + " | " + "流客科技"
  : "流客科技 - 万网之流，来者皆可客";

---

<html lang="zh-cn">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<Header />
		<main>
			<slot />
		</main>
		<Footer />
		<script>
			document.getElementById("expend")?.addEventListener("click", () => {
				console.log("run");
				document.getElementById("menu")?.classList.toggle("hidden");
			});
		</script>
	</body>
</html>
